In [1]:
import esda
import pandas as pd
import geopandas as gpd
from geopandas import GeoDataFrame
import libpysal as lps
import numpy as np
import matplotlib.pyplot as plt
from shapely.geometry import Point
import folium
import branca
import psycopg2
import sqlalchemy
import re
%matplotlib inline
pd.set_option('display.max_columns', 500)

#Valuation per lock

In [70]:
Avaluo_cat_man = gpd.read_file('/home/rcamilo/Documents/DS4A/ds4a/initialData/Reto MINTIC/Avaluo Catastral Manzana/AvaluoCatastralManzana/Avaluo_Manzana.shp')
# Avaluo_com_man = gpd.read_file('/mnt/d/Documentos/DS4A/initialData/Avaluo Comercial Manzana/AvaluoComercialManzana/Avaluo_Manzana.shp')

In [71]:
avcat = Avaluo_cat_man[['MANZANA_ID','CP_TERR_AR','AVALUO_COM','AVALUO_CAT']]

In [7]:
Avaluo_cat_man.CP_TERR_AR.unique()

array(['N', 'P', None], dtype=object)

In [5]:
Avaluo_cat_man == Avaluo_com_man

,OBJECTID,MANZANA_ID,CP_TERR_AR,GRUPOP_TER,AVALUO_COM,AVALUO_CAT,OBSERVACIO,GLOBALID,SHAPE_Leng,SHAPE_Area,geometry
0,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...
43842,True,True,True,True,True,True,True,True,True,True,True
43843,True,True,True,True,True,True,True,True,True,True,True
43844,True,False,False,False,True,True,True,True,True,True,True
43845,True,True,True,True,True,True,True,True,True,True,True
43846,True,True,True,True,True,True,True,True,True,True,True

In [13]:
Avaluo_cat_man.dtypes

OBJECTID         int64
MANZANA_ID      object
CP_TERR_AR      object
GRUPOP_TER      object
AVALUO_COM     float64
AVALUO_CAT     float64
OBSERVACIO      object
GLOBALID        object
SHAPE_Leng     float64
SHAPE_Area     float64
geometry      geometry
dtype: object

In [15]:
Avaluo_cat_man.isnull().any()

OBJECTID      False
MANZANA_ID     True
CP_TERR_AR     True
GRUPOP_TER     True
AVALUO_COM    False
AVALUO_CAT    False
OBSERVACIO    False
GLOBALID      False
SHAPE_Leng    False
SHAPE_Area    False
geometry      False
dtype: bool

# Valor referencia

In [38]:
Valor_referencia = gpd.read_file('/home/rcamilo/Documents/DS4A/ds4a/initialData/Reto MINTIC/Valor Referencia del Suelo/Valor_Ref/Valor_Ref.shp')

In [39]:
Valor_referencia.head()

,MANCODIGO,V_REF,AÑO,SHAPE_AREA,SHAPE_LEN,geometry
0,009109014,1420000.0,2016-01-01,5.564496e-07,0.003106,"POLYGON ((-74.07808 4.70739, -74.07808 4.70726..."
1,009111022,2200000.0,2016-01-01,2.032584e-06,0.005819,"POLYGON ((-74.06901 4.70363, -74.06933 4.70355..."
2,009111025,2100000.0,2016-01-01,5.573527e-07,0.003223,"POLYGON ((-74.06507 4.70105, -74.06507 4.70105..."
3,009113030,800000.0,2016-01-01,8.663016e-06,0.021766,"POLYGON ((-74.06706 4.76573, -74.06760 4.76499..."
4,009115041,2200000.0,2016-01-01,1.032727e-06,0.004514,"POLYGON ((-74.07292 4.72923, -74.07292 4.72895..."

In [40]:
len(Valor_referencia.index)

351159

In [18]:
Valor_referencia.isnull().any()

MANCODIGO     False
V_REF         False
AÑO           False
SHAPE_AREA    False
SHAPE_LEN     False
geometry      False
dtype: bool

In [19]:
Valor_referencia.dtypes

MANCODIGO       object
V_REF          float64
AÑO             object
SHAPE_AREA     float64
SHAPE_LEN      float64
geometry      geometry
dtype: object

# Ofertas

In [2]:
%load_ext sql
%sql postgresql://postgres:152622@localhost/MapaReferencia

In [3]:
!pip install xlrd

Collecting xlrd
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 2.7 MB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0

In [2]:
ofertas = pd.read_excel('OFERTASVIGENCIA2019Y2020IDECA.xlsx')

In [2]:
# ofertas = pd.read_csv('/home/rcamilo/Documents/DS4A/ds4a/initialData/Reto MINTIC/Ofertas/Ofertar.csv',sep=';',decimal=',')
ofertas = pd.read_csv('OFERTAS_2020.csv',sep=';',decimal=',')
ofertas.head()

/home/rcamilo/anaconda3/envs/geospatial/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (8,19,20,21,22,23,24,25,27,30,37,38) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,NOMBRE_BARRIO,CODIGO_BARRIO,CODIGO_MANZANA,CODIGO_PREDIO,CODIGO_CONSTRUCCION,CODIGO_RESTO,DIRECCION_REAL,CHIP,TEL_NUMERO,OIA_NOMBRE_CONTACTO,OFT_CODIGO,OFT_TIPO_OFERTA,OFT_TIPO_INMUEBLE,OFT_FUENTE,OIA_TIPO_AJUSTE,OFT_TIPO_NORMA_JURIDICA,OIC_AREA_TERRENO,OIC_AREA_CONSTRUCCION,OFT_ES_OFERTA_MULTIPLE,OFT_PREDIOS_ADICIONALES,OFT_TIPO_CASA_USO_MIXTO,VR_INICIAL_VENTA,VR_FINAL_VENTA,VR_INICIAL_ARRIENDO,VR_FINAL_ARRIENDO,OIC_VALOR_ADM,OIC_VALOR_ANEXOS,OIA_TIENE_ASCENSOR,OIA_CANT_GARAJES,OIA_TIPO_GARAJE,OIA_COND_JUR_GARAJE,DateTime,year,IPC_INDEX,IPC2020,VIventa2020,VFventa2020,AIventa2020,AFventa2020
0,GILMAR,9114,36,2,1,9001,CL 160 73 47 TO 1 AP 901,AAA0244KHEP,3103488284,JOHANNA,338319,VENTA,APARTAMENTO,CAMPO;,AJUSTE EFECTIVO,PH,1,154.3,NO,NaN,NaN,830000000,800400000,NaN,NaN,400000,0.0,NO,2,CUBIERTO,PRIVADO,1/08/2018,2018,115.8,121.32,869564766.8,838553782.4,NaN,NaN
1,GILMAR,9114,36,2,1,12001,CL 160 73 47 TO 1 AP 1201,AAA0244KHTD,3103488284,JOHANNA,338320,VENTA,APARTAMENTO,CAMPO;,AJUSTE EFECTIVO,PH,1,154.3,NO,NaN,NaN,890000000,857200000,NaN,NaN,400000,0.0,NO,2,CUBIERTO,PRIVADO,1/08/2018,2018,115.8,121.32,932424870.5,898061347.2,NaN,NaN
2,ESPARTILLAL,8312,5,16,1,6002,CL 77 13 47 OF 602,AAA0221SUSY,7437129,TATIANA,338321,VENTA;ARRIENDO,OFICINA,CAMPO;,AJUSTE EFECTIVO,PH,1,77.63,NO,NaN,NaN,548790000,532300000,3159000,3100000,692000,0.0,SI,2,CUBIERTO,PRIVADO,2/08/2018,2018,115.8,121.32,574949937.8,557673886,3309584.456,3247772.021
3,SANTA ROSA,5402,4,20,0,0,AK 70 112 17,AAA0058MXPP,3103372619,marco antonio,338322,ARRIENDO_PARCIAL,CASA USO MIXTO,CAMPO;,AJUSTE EFECTIVO,NPH,1,69,NO,NaN,LOCAL;,NaN,NaN,2600000,2600000,0,0.0,NO,0,NaN,NaN,2/08/2018,2018,115.8,121.32,NaN,NaN,2723937.824,2723937.824
4,PUENTE LARGO,9124,1,39,1,3002,CL 113 56 24 AP 302,AAA0125NEWW,3208048818,ANA CRISTINA,338323,VENTA,APARTAMENTO,CAMPO;,AJUSTE EFECTIVO,PH,1,94.5,NO,NaN,NaN,420000000,408500000,NaN,NaN,382000,0.0,NO,2,CUBIERTO,PRIVADO,10/08/2018,2018,115.8,121.32,440020725.4,427972538.9,NaN,NaN

In [5]:
ofertas.dtypes

NOMBRE_BARRIO                      object
CODIGO_BARRIO                       int64
CODIGO_MANZANA                      int64
CODIGO_PREDIO                       int64
CODIGO_CONSTRUCCION                 int64
CODIGO_RESTO                        int64
DIRECCION_REAL                     object
CHIP                               object
TEL_NUMERO                         object
OIA_NOMBRE_CONTACTO                object
OFT_CODIGO                          int64
OFT_TIPO_OFERTA                    object
OFT_TIPO_INMUEBLE                  object
OFT_FUENTE                         object
OFT_FECHA_CAPTURA          datetime64[ns]
OIA_TIPO_AJUSTE                    object
OFT_TIPO_NORMA_JURIDICA            object
OIC_AREA_TERRENO                  float64
OIC_AREA_CONSTRUCCION             float64
OFT_ES_OFERTA_MULTIPLE             object
OFT_PREDIOS_ADICIONALES            object
OFT_TIPO_CASA_USO_MIXTO            object
VR_INICIAL_VENTA                  float64
VR_FINAL_VENTA                    float64
VR_INICIAL_ARRIENDO               float64
VR_FINAL_ARRIENDO                 float64
OIC_VALOR_ADM                     float64
OIC_VALOR_ANEXOS                  float64
OIA_TIENE_ASCENSOR                 object
OIA_CANT_GARAJES                    int64
OIA_TIPO_GARAJE                    object
OIA_COND_JUR_GARAJE                object
OIA_OBSERVACIONES                  object
dtype: object

In [3]:
ofertas_codes = ofertas[['CODIGO_BARRIO','CODIGO_MANZANA','CODIGO_PREDIO','CODIGO_CONSTRUCCION','CODIGO_RESTO']]

In [6]:
list(ofertas)

['NOMBRE_BARRIO',
 'CODIGO_BARRIO',
 'CODIGO_MANZANA',
 'CODIGO_PREDIO',
 'CODIGO_CONSTRUCCION',
 'CODIGO_RESTO',
 'DIRECCION_REAL',
 'CHIP',
 'TEL_NUMERO',
 'OIA_NOMBRE_CONTACTO',
 'OFT_CODIGO',
 'OFT_TIPO_OFERTA',
 'OFT_TIPO_INMUEBLE',
 'OFT_FUENTE',
 'OFT_FECHA_CAPTURA',
 'OIA_TIPO_AJUSTE',
 'OFT_TIPO_NORMA_JURIDICA',
 'OIC_AREA_TERRENO',
 'OIC_AREA_CONSTRUCCION',
 'OFT_ES_OFERTA_MULTIPLE',
 'OFT_PREDIOS_ADICIONALES',
 'OFT_TIPO_CASA_USO_MIXTO',
 'VR_INICIAL_VENTA',
 'VR_FINAL_VENTA',
 'VR_INICIAL_ARRIENDO',
 'VR_FINAL_ARRIENDO',
 'OIC_VALOR_ADM',
 'OIC_VALOR_ANEXOS',
 'OIA_TIENE_ASCENSOR',
 'OIA_CANT_GARAJES',
 'OIA_TIPO_GARAJE',
 'OIA_COND_JUR_GARAJE',
 'OIA_OBSERVACIONES']

In [8]:
ofertas_codes.head()

,CODIGO_BARRIO,CODIGO_MANZANA,CODIGO_PREDIO,CODIGO_CONSTRUCCION,CODIGO_RESTO
0,9114,36,2,1,9001
1,9114,36,2,1,12001
2,8312,5,16,1,6002
3,5402,4,20,0,0
4,9124,1,39,1,3002

In [46]:
def clean_code(code,n):
    if len(str(code))< n:
        return ('0'*(n-len(str(code))))+str(code)
    else:
        return str(code)
    
ofertas['CODIGO_BARRIO'] = ofertas['CODIGO_BARRIO'].apply(lambda x: clean_code(x,6))
ofertas['CODIGO_MANZANA'] = ofertas['CODIGO_MANZANA'].apply(lambda x: clean_code(x,3))
ofertas['CODIGO_PREDIO'] = ofertas['CODIGO_PREDIO'].apply(lambda x: clean_code(x,3))
ofertas['CODIGO_CONSTRUCCION'] = ofertas['CODIGO_CONSTRUCCION'].apply(lambda x: clean_code(x,3))
ofertas['CODIGO_RESTO'] = ofertas['CODIGO_RESTO'].apply(lambda x: clean_code(x,5))

In [49]:
ofertas

,NOMBRE_BARRIO,CODIGO_BARRIO,CODIGO_MANZANA,CODIGO_PREDIO,CODIGO_CONSTRUCCION,CODIGO_RESTO,DIRECCION_REAL,CHIP,TEL_NUMERO,OIA_NOMBRE_CONTACTO,OFT_CODIGO,OFT_TIPO_OFERTA,OFT_TIPO_INMUEBLE,OFT_FUENTE,OIA_TIPO_AJUSTE,OFT_TIPO_NORMA_JURIDICA,OIC_AREA_TERRENO,OIC_AREA_CONSTRUCCION,OFT_ES_OFERTA_MULTIPLE,OFT_PREDIOS_ADICIONALES,OFT_TIPO_CASA_USO_MIXTO,VR_INICIAL_VENTA,VR_FINAL_VENTA,VR_INICIAL_ARRIENDO,VR_FINAL_ARRIENDO,OIC_VALOR_ADM,OIC_VALOR_ANEXOS,OIA_TIENE_ASCENSOR,OIA_CANT_GARAJES,OIA_TIPO_GARAJE,OIA_COND_JUR_GARAJE,DateTime,year,IPC_INDEX,IPC2020,VIventa2020,VFventa2020,AIventa2020,AFventa2020,lotcodigo
0,GILMAR,009114,036,002,001,09001,CL 160 73 47 TO 1 AP 901,AAA0244KHEP,3103488284,JOHANNA,338319,VENTA,APARTAMENTO,CAMPO;,AJUSTE EFECTIVO,PH,1,154.3,NO,NaN,NaN,830000000,800400000,NaN,NaN,400000,0.0,NO,2,CUBIERTO,PRIVADO,1/08/2018,2018,115.8,121.32,869564766.8,838553782.4,NaN,NaN,009114036002
1,GILMAR,009114,036,002,001,12001,CL 160 73 47 TO 1 AP 1201,AAA0244KHTD,3103488284,JOHANNA,338320,VENTA,APARTAMENTO,CAMPO;,AJUSTE EFECTIVO,PH,1,154.3,NO,NaN,NaN,890000000,857200000,NaN,NaN,400000,0.0,NO,2,CUBIERTO,PRIVADO,1/08/2018,2018,115.8,121.32,932424870.5,898061347.2,NaN,NaN,009114036002
2,ESPARTILLAL,008312,005,016,001,06002,CL 77 13 47 OF 602,AAA0221SUSY,7437129,TATIANA,338321,VENTA;ARRIENDO,OFICINA,CAMPO;,AJUSTE EFECTIVO,PH,1,77.63,NO,NaN,NaN,548790000,532300000,3159000,3100000,692000,0.0,SI,2,CUBIERTO,PRIVADO,2/08/2018,2018,115.8,121.32,574949937.8,557673886,3309584.456,3247772.021,008312005016
3,SANTA ROSA,005402,004,020,000,00000,AK 70 112 17,AAA0058MXPP,3103372619,marco antonio,338322,ARRIENDO_PARCIAL,CASA USO MIXTO,CAMPO;,AJUSTE EFECTIVO,NPH,1,69,NO,NaN,LOCAL;,NaN,NaN,2600000,2600000,0,0.0,NO,0,NaN,NaN,2/08/2018,2018,115.8,121.32,NaN,NaN,2723937.824,2723937.824,005402004020
4,PUENTE LARGO,009124,001,039,001,03002,CL 113 56 24 AP 302,AAA0125NEWW,3208048818,ANA CRISTINA,338323,VENTA,APARTAMENTO,CAMPO;,AJUSTE EFECTIVO,PH,1,94.5,NO,NaN,NaN,420000000,408500000,NaN,NaN,382000,0.0,NO,2,CUBIERTO,PRIVADO,10/08/2018,2018,115.8,121.32,440020725.4,427972538.9,NaN,NaN,009124001039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119183,SAN JAVIER,001110,016,024,000,00000,CL 9 SUR 4 34,AAA0001APMS,3133693775,NO INFORMAN,519335,ARRIENDO PARCIAL,Casa,CAMPO,AJUSTE EFECTIVO,NPH,NaN,45,NO,SIN PREDIOS ADICIONALES,NaN,0,0,650000,638000,0,0.0,NaN,0,NaN,NaN,9/01/2020,2020,121.32,121.32,0,0,650000,638000,001110016024
119184,SAN JAVIER,001110,017,016,000,00000,CL 9 SUR 4 45,AAA0001ARFT,3145019636,NO INFORMAN,519337,VENTA,Casa,CAMPO,AJUSTE EFECTIVO,NPH,200,141.4,NO,SIN PREDIOS ADICIONALES,NaN,430000000,419035000,0,0,0,0.0,NaN,3,NaN,NaN,9/01/2020,2020,121.32,121.32,430000000,419035000,0,0,001110017016
119185,DINDALITO,004612,058,022,000,00000,KR 92B 42G 51 SUR,AAA0138FRLW,3108589760,EDILMA ORTIZ,519338,VENTA,Casa,CAMPO,AJUSTE EFECTIVO,NPH,72,144.06,NO,SIN PREDIOS ADICIONALES,NaN,240000000,232968000,0,0,0,0.0,NaN,0,NaN,NaN,9/01/2020,2020,121.32,121.32,240000000,232968000,0,0,004612058022
119186,DINDALITO,004612,058,021,000,00000,KR 92B 42G 45 SUR,AAA0138FRKL,3202354694,MIGUEL SALCEDO,519342,VENTA,Casa,CAMPO,AJUSTE EFECTIVO,NPH,72,70.6,NO,SIN PREDIOS ADICIONALES,NaN,220000000,213466000,0,0,0,0.0,NaN,1,NaN,NaN,9/01/2020,2020,121.32,121.32,220000000,213466000,0,0,004612058021
119187,RAMAJAL,001307,005,026,000,00000,KR 9D ESTE 28C 15 SUR,AAA0002ZYLF,3118792516,JAIME HERNANDEZ,519353,VENTA,Casa,CAMPO,AJUSTE EFECTIVO,NPH,94.2,183.4,NO,SIN PREDIOS ADICIONALES,NaN,190000000,184243000,0,0,0,0.0,NaN,0,NaN,NaN,9/01/2020,2020,121.32,121.32,190000000,184243000,0,0,001307005026

In [48]:
ofertas['lotcodigo'] = ofertas['CODIGO_BARRIO']+ofertas['CODIGO_MANZANA']+ofertas['CODIGO_PREDIO']

In [6]:
ofertas.head()

,NOMBRE_BARRIO,CODIGO_BARRIO,CODIGO_MANZANA,CODIGO_PREDIO,CODIGO_CONSTRUCCION,CODIGO_RESTO,DIRECCION_REAL,CHIP,TEL_NUMERO,OIA_NOMBRE_CONTACTO,OFT_CODIGO,OFT_TIPO_OFERTA,OFT_TIPO_INMUEBLE,OFT_FUENTE,OFT_FECHA_CAPTURA,OIA_TIPO_AJUSTE,OFT_TIPO_NORMA_JURIDICA,OIC_AREA_TERRENO,OIC_AREA_CONSTRUCCION,OFT_ES_OFERTA_MULTIPLE,OFT_PREDIOS_ADICIONALES,OFT_TIPO_CASA_USO_MIXTO,VR_INICIAL_VENTA,VR_FINAL_VENTA,VR_INICIAL_ARRIENDO,VR_FINAL_ARRIENDO,OIC_VALOR_ADM,OIC_VALOR_ANEXOS,OIA_TIENE_ASCENSOR,OIA_CANT_GARAJES,OIA_TIPO_GARAJE,OIA_COND_JUR_GARAJE,OIA_OBSERVACIONES,lotcodigo
0,GILMAR,009114,036,002,001,09001,CL 160 73 47 TO 1 AP 901,AAA0244KHEP,3103488284,JOHANNA,338319,VENTA,APARTAMENTO,CAMPO;,2018-08-01,AJUSTE EFECTIVO,PH,1.0,154.30,NO,NaN,NaN,830000000.0,800400000.0,NaN,NaN,400000.0,0.0,NO,2,CUBIERTO,PRIVADO,CANT BA�OS VERIFICADA\n,009114036002
1,GILMAR,009114,036,002,001,12001,CL 160 73 47 TO 1 AP 1201,AAA0244KHTD,3103488284,JOHANNA,338320,VENTA,APARTAMENTO,CAMPO;,2018-08-01,AJUSTE EFECTIVO,PH,1.0,154.30,NO,NaN,NaN,890000000.0,857200000.0,NaN,NaN,400000.0,0.0,NO,2,CUBIERTO,PRIVADO,CANT BA�OS VERIFICADA\n,009114036002
2,ESPARTILLAL,008312,005,016,001,06002,CL 77 13 47 OF 602,AAA0221SUSY,7437129,TATIANA,338321,VENTA;ARRIENDO,OFICINA,CAMPO;,2018-08-02,AJUSTE EFECTIVO,PH,1.0,77.63,NO,NaN,NaN,548790000.0,532300000.0,3159000.0,3100000.0,692000.0,0.0,SI,2,CUBIERTO,PRIVADO,NaN,008312005016
3,SANTA ROSA,005402,004,020,000,00000,AK 70 112 17,AAA0058MXPP,3103372619,marco antonio,338322,ARRIENDO_PARCIAL,CASA USO MIXTO,CAMPO;,2018-08-02,AJUSTE EFECTIVO,NPH,1.0,69.00,NO,NaN,LOCAL;,NaN,NaN,2600000.0,2600000.0,0.0,0.0,NO,0,NaN,NaN,arriendan local de 69 m2,005402004020
4,PUENTE LARGO,009124,001,039,001,03002,CL 113 56 24 AP 302,AAA0125NEWW,3208048818,ANA CRISTINA,338323,VENTA,APARTAMENTO,CAMPO;,2018-08-10,AJUSTE EFECTIVO,PH,1.0,94.50,NO,NaN,NaN,420000000.0,408500000.0,NaN,NaN,382000.0,0.0,NO,2,CUBIERTO,PRIVADO,NaN,009124001039

In [13]:
ofertas.drop(columns=['TEL_NUMERO','OIA_NOMBRE_CONTACTO','OIA_OBSERVACIONES'],inplace=True)

In [5]:
# nombres = [x.replace(' ','_') for x in list(ofertas)]
# ofertas.columns= nombres

def clean_code(code,n):
    if len(str(code))< n:
        return ('0'*(n-len(str(code))))+str(code)
    else:
        return str(code)
    
ofertas['Codigo_Barrio'] = ofertas['Codigo_Barrio'].apply(lambda x: clean_code(x,6))
ofertas['Codigo_Manzana'] = ofertas['Codigo_Manzana'].apply(lambda x: clean_code(x,3))
ofertas['Codigo_Predio'] = ofertas['Codigo_Predio'].apply(lambda x: clean_code(x,3))
ofertas['Codigo_Construccion'] = ofertas['Codigo_Construccion'].apply(lambda x: clean_code(x,3))
ofertas['Codigo_Resto'] = ofertas['Codigo_Resto'].apply(lambda x: clean_code(x,5))
ofertas['Area_Construida'] = ofertas['Area_Construida'].apply(lambda x: float(re.sub("-","0",re.sub(",", ".", x))))
ofertas['Codigo_Oferta'] = ofertas['Codigo_Oferta'].apply(lambda x: str(int(x)))
ofertas.head()

,Nombre_Barrio,Codigo_Barrio,Codigo_Manzana,Codigo_Predio,Codigo_Construccion,Codigo_Resto,Fecha_De_Cargue,Direccion,Codigo_Oferta,Tipo_Oferta,Tipo_Inmueble,Fuente,Chip,Area_Terreno,Area_Construida,Vr_Inicial_Venta,Vr_Final_Venta,Vr_Inicial_Arriendo,Vr_Final_Arriendo
0,ESTACION CENTRAL,006204,017,015,000,00000,2019-09-30T00:00:00Z,KR 33 17 27,500000,VENTA,Bodega,CAMPO,AAA0251LMRJ,2060.80,2306.00,7.000000e+09,6.880300e+09,0.0,0.0
1,COOPERATIVA DE SUB-OFICIALES,006501,003,010,000,00000,2019-09-30T00:00:00Z,KR 71F 12 02,500001,VENTA,Casa uso mixto,CAMPO,AAA0080RXPP,100.10,211.30,0.000000e+00,0.000000e+00,0.0,0.0
2,ESTACION CENTRAL,006204,004,004,001,06011,2019-09-30T00:00:00Z,CL 14 30 17 AP 611,500002,ARRIENDO,Apartamento,CAMPO,AAA0164RCHY,18.04,50.44,0.000000e+00,0.000000e+00,0.0,0.0
3,ARBORIZADORA ALTA,002568,010,014,000,00000,2019-09-30T00:00:00Z,CL 74 SUR 38A 60,500003,ARRIENDO PARCIAL,Casa uso mixto,CAMPO,AAA0028RFAF,42.00,42.00,0.000000e+00,0.000000e+00,1200000.0,1178000.0
4,ARBORIZADORA ALTA,002568,010,012,000,00000,2019-09-30T00:00:00Z,CL 74 SUR 38A 52,500004,VENTA,Casa uso mixto,CAMPO,AAA0028REYN,42.00,130.20,1.500000e+08,1.453350e+08,0.0,0.0

In [47]:
ofertas.dtypes

Nombre_Barrio           object
Codigo_Barrio           object
Codigo_Manzana          object
Codigo_Predio           object
Codigo_Construccion     object
Codigo_Resto            object
Fecha_De_Cargue         object
Direccion               object
Codigo_Oferta           object
Tipo_Oferta             object
Tipo_Inmueble           object
Fuente                  object
Chip                    object
Area_Terreno           float64
Area_Construida        float64
Vr_Inicial_Venta       float64
Vr_Final_Venta         float64
Vr_Inicial_Arriendo    float64
Vr_Final_Arriendo      float64
dtype: object

In [7]:
ofertas

,NOMBRE_BARRIO,CODIGO_BARRIO,CODIGO_MANZANA,CODIGO_PREDIO,CODIGO_CONSTRUCCION,CODIGO_RESTO,DIRECCION_REAL,CHIP,TEL_NUMERO,OIA_NOMBRE_CONTACTO,OFT_CODIGO,OFT_TIPO_OFERTA,OFT_TIPO_INMUEBLE,OFT_FUENTE,OFT_FECHA_CAPTURA,OIA_TIPO_AJUSTE,OFT_TIPO_NORMA_JURIDICA,OIC_AREA_TERRENO,OIC_AREA_CONSTRUCCION,OFT_ES_OFERTA_MULTIPLE,OFT_PREDIOS_ADICIONALES,OFT_TIPO_CASA_USO_MIXTO,VR_INICIAL_VENTA,VR_FINAL_VENTA,VR_INICIAL_ARRIENDO,VR_FINAL_ARRIENDO,OIC_VALOR_ADM,OIC_VALOR_ANEXOS,OIA_TIENE_ASCENSOR,OIA_CANT_GARAJES,OIA_TIPO_GARAJE,OIA_COND_JUR_GARAJE,OIA_OBSERVACIONES,lotcodigo
0,GILMAR,009114,036,002,001,09001,CL 160 73 47 TO 1 AP 901,AAA0244KHEP,3103488284,JOHANNA,338319,VENTA,APARTAMENTO,CAMPO;,2018-08-01 00:00:00,AJUSTE EFECTIVO,PH,1.0,154.30,NO,NaN,NaN,830000000.0,800400000.0,NaN,NaN,400000.0,0.0,NO,2,CUBIERTO,PRIVADO,CANT BA�OS VERIFICADA\n,009114036002
1,GILMAR,009114,036,002,001,12001,CL 160 73 47 TO 1 AP 1201,AAA0244KHTD,3103488284,JOHANNA,338320,VENTA,APARTAMENTO,CAMPO;,2018-08-01 00:00:00,AJUSTE EFECTIVO,PH,1.0,154.30,NO,NaN,NaN,890000000.0,857200000.0,NaN,NaN,400000.0,0.0,NO,2,CUBIERTO,PRIVADO,CANT BA�OS VERIFICADA\n,009114036002
2,ESPARTILLAL,008312,005,016,001,06002,CL 77 13 47 OF 602,AAA0221SUSY,7437129,TATIANA,338321,VENTA;ARRIENDO,OFICINA,CAMPO;,2018-08-02 00:00:00,AJUSTE EFECTIVO,PH,1.0,77.63,NO,NaN,NaN,548790000.0,532300000.0,3159000.0,3100000.0,692000.0,0.0,SI,2,CUBIERTO,PRIVADO,NaN,008312005016
3,SANTA ROSA,005402,004,020,000,00000,AK 70 112 17,AAA0058MXPP,3103372619,marco antonio,338322,ARRIENDO_PARCIAL,CASA USO MIXTO,CAMPO;,2018-08-02 00:00:00,AJUSTE EFECTIVO,NPH,1.0,69.00,NO,NaN,LOCAL;,NaN,NaN,2600000.0,2600000.0,0.0,0.0,NO,0,NaN,NaN,arriendan local de 69 m2,005402004020
4,PUENTE LARGO,009124,001,039,001,03002,CL 113 56 24 AP 302,AAA0125NEWW,3208048818,ANA CRISTINA,338323,VENTA,APARTAMENTO,CAMPO;,2018-08-10 00:00:00,AJUSTE EFECTIVO,PH,1.0,94.50,NO,NaN,NaN,420000000.0,408500000.0,NaN,NaN,382000.0,0.0,NO,2,CUBIERTO,PRIVADO,NaN,009124001039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119183,SAN JAVIER,001110,016,024,000,00000,CL 9 SUR 4 34,AAA0001APMS,3133693775,NO INFORMAN,519335,ARRIENDO PARCIAL,Casa,CAMPO,2020-09-01 15:46:23,AJUSTE EFECTIVO,NPH,NaN,45.00,NO,SIN PREDIOS ADICIONALES,NaN,0.0,0.0,650000.0,638000.0,0.0,0.0,NaN,0,NaN,NaN,"SE ARRIENDA APTO,EN EL 1 PISO.",001110016024
119184,SAN JAVIER,001110,017,016,000,00000,CL 9 SUR 4 45,AAA0001ARFT,3145019636,NO INFORMAN,519337,VENTA,Casa,CAMPO,2020-09-01 15:49:28,AJUSTE EFECTIVO,NPH,200.0,141.40,NO,SIN PREDIOS ADICIONALES,NaN,430000000.0,419035000.0,0.0,0.0,0.0,0.0,NaN,3,NaN,NaN,CASA FAMILIAR,001110017016
119185,DINDALITO,004612,058,022,000,00000,KR 92B 42G 51 SUR,AAA0138FRLW,3108589760,EDILMA ORTIZ,519338,VENTA,Casa,CAMPO,2020-09-01 15:51:02,AJUSTE EFECTIVO,NPH,72.0,144.06,NO,SIN PREDIOS ADICIONALES,NaN,240000000.0,232968000.0,0.0,0.0,0.0,0.0,NaN,0,NaN,NaN,NaN,004612058022
119186,DINDALITO,004612,058,021,000,00000,KR 92B 42G 45 SUR,AAA0138FRKL,3202354694,MIGUEL SALCEDO,519342,VENTA,Casa,CAMPO,2020-09-01 15:58:02,AJUSTE EFECTIVO,NPH,72.0,70.60,NO,SIN PREDIOS ADICIONALES,NaN,220000000.0,213466000.0,0.0,0.0,0.0,0.0,NaN,1,NaN,NaN,NaN,004612058021
119187,RAMAJAL,001307,005,026,000,00000,KR 9D ESTE 28C 15 SUR,AAA0002ZYLF,3118792516,JAIME HERNANDEZ,519353,VENTA,Casa,CAMPO,2020-09-01 16:12:00,AJUSTE EFECTIVO,NPH,94.2,183.40,NO,SIN PREDIOS ADICIONALES,NaN,190000000.0,184243000.0,0.0,0.0,0.0,0.0,NaN,0,NaN,NaN,3 APTOS (UNO ESTA EN OBRA GRIS),001307005026

In [54]:
ofertas.to_csv('ofertas.csv',encoding='utf8',index=False)

In [55]:
list(pd.read_csv('ofertas.csv'))

['Nombre_Barrio',
 'Codigo_Barrio',
 'Codigo_Manzana',
 'Codigo_Predio',
 'Codigo_Construccion',
 'Codigo_Resto',
 'Fecha_De_Cargue',
 'Direccion',
 'Codigo_Oferta',
 'Tipo_Oferta',
 'Tipo_Inmueble',
 'Fuente',
 'Chip',
 'Area_Terreno',
 'Area_Construida',
 'Vr_Inicial_Venta',
 'Vr_Final_Venta',
 'Vr_Inicial_Arriendo',
 'Vr_Final_Arriendo']

In [10]:
range(len(ofertas['lotcodigo'].unique()))

range(0, 43425)

In [15]:
pd.DataFrame({'id':range(len(ofertas['lotcodigo'].unique())),'lote_codigo':ofertas['lotcodigo'].unique()}).to_csv('codigos_lote.csv',index=False)

In [14]:
%%sql
CREATE TABLE DATA.lotes_ofertas(
id INT,
lote_codigo TEXT)

 * postgresql://postgres:***@localhost/MapaReferencia
Done.

[]

In [48]:
%%sql

CREATE TABLE DATA.ofertas(
Nombre_Barrio TEXT,
Codigo_Barrio VARCHAR(6),
Codigo_Manzana VARCHAR(3),
Codigo_Predio VARCHAR(3),
Codigo_Construccion VARCHAR(3),
Codigo_Resto VARCHAR(5),
Fecha_De_Cargue DATE,
Direccion TEXT,
Codigo_Oferta TEXT,
Tipo_Oferta  TEXT,
Tipo_Inmueble TEXT,
Fuente  TEXT,
Chip  TEXT,
Area_Terreno  FLOAT,
Area_Construida  FLOAT,
Vr_Inicial_Venta FLOAT,
Vr_Final_Venta FLOAT,
Vr_Inicial_Arriendo FLOAT,
Vr_Final_Arriendo FLOAT
    );

 * postgresql://postgres:***@localhost/MapaReferencia
Done.

[]

```bash
psql -h localhost -U postgres -d MapaReferencia -c "\copy DATA.ofertas from 'ofertas.csv' with (format csv, header true, delimiter ',');"

```

In [23]:
ofertas.dtypes

Nombre Barrio           object
Codigo Barrio            int64
Codigo Manzana           int64
Codigo Predio            int64
Codigo Construccion      int64
Codigo Resto             int64
Fecha De Cargue         object
Direccion               object
Codigo Oferta          float64
Tipo Oferta             object
Tipo Inmueble           object
Fuente                  object
Chip                    object
Area Terreno           float64
Area Construida         object
Vr Inicial Venta       float64
Vr Final Venta         float64
Vr Inicial Arriendo    float64
Vr Final Arriendo      float64
dtype: object

In [6]:
%%sql
SELECT COUNT(DISTINCT(prechip)) FROM data.predios_ofertas
;

 * postgresql://postgres:***@localhost/MapaReferencia
1 rows affected.

[(17871,)]

In [18]:
%%sql
CREATE VIEW data.lotes_ofertas_predios as(
SELECT * FROM area_catastral.predio
WHERE barmanpre IN(SELECT lote_codigo FROM DATA.lotes_ofertas));

 * postgresql://postgres:***@localhost/MapaReferencia
Done.

[]

In [3]:
%%sql
SELECT * FROM data.lotes_ofertas_predios LIMIT 20;

 * postgresql://postgres:***@localhost/MapaReferencia
20 rows affected.

[(25, '001101', 'LAS BRISAS', '05', '22', '000', '00000', 'AAA0000BBMS', '4S 5 41', '110010111040100050022000000000', 6, datetime.date(1997, 12, 31), 'N', 'KR 6 3 20 SUR', 'D', None, None, Decimal('192.000000000'), Decimal('142.100000000'), '6235225153112', '01', 1957, 1998, 2020, '001', Decimal('142.100000000'), 'S', 'S', 'S', 'A', datetime.date(2018, 11, 22), 28, '113', '125', '132', '141', '212', '223', '234', '241', '312', '323', '331', '341', '412', '423', '432', '441', None, None, 'R', '001101005022'),
 (95, '001102', 'BUENOS AIRES', '08', '03', '001', '01007', 'AAA0000EEJH', '001102080300101007', '110010111040200080003901010007', 6, datetime.date(1996, 12, 31), 'P', 'KR 2C 2 30 SUR BQ 13 AP 101', 'D', None, None, Decimal('25.4000000000'), Decimal('44.4000000000'), '6235225152113', '01', 1993, 1997, 2020, '038', Decimal('44.4000000000'), 'S', 'N', 'S', 'A', datetime.date(2002, 12, 31), 32, '113', '125', '132', '142', '212', '222', '235', '242', '312', '322', '332', '341', '412', '422', '432', '441', None, None, 'R', '001102008003'),
 (96, '001102', 'BUENOS AIRES', '08', '03', '001', '01008', 'AAA0000EEKL', '001102080300101008', '110010111040200080003901010008', 6, datetime.date(1996, 12, 31), 'P', 'KR 2C 2 30 SUR BQ 13 AP 102', 'D', None, None, Decimal('25.4000000000'), Decimal('44.4000000000'), '6235225152113', '01', 1993, 1997, 2020, '038', Decimal('44.4000000000'), 'S', 'N', 'S', 'A', datetime.date(2002, 12, 31), 32, '113', '125', '132', '142', '212', '222', '235', '242', '312', '322', '332', '341', '412', '422', '432', '441', None, None, 'R', '001102008003'),
 (97, '001102', 'BUENOS AIRES', '08', '03', '001', '01009', 'AAA0000EELW', '001102080300101009', '110010111040200080003901010009', 6, datetime.date(1996, 12, 31), 'P', 'KR 2C 2 30 SUR BQ 14 AP 101', 'D', None, None, Decimal('25.4000000000'), Decimal('44.4000000000'), '6235225152113', '01', 1993, 1997, 2020, '038', Decimal('44.4000000000'), 'S', 'N', 'S', 'A', datetime.date(2002, 12, 31), 32, '113', '125', '132', '142', '212', '222', '235', '242', '312', '322', '332', '341', '412', '422', '432', '441', None, None, 'R', '001102008003'),
 (98, '001102', 'BUENOS AIRES', '08', '03', '001', '01010', 'AAA0000EEMS', '001102080300101010', '110010111040200080003901010010', 6, datetime.date(1996, 12, 31), 'P', 'KR 2C 2 30 SUR BQ 14 AP 102', 'D', None, None, Decimal('25.4000000000'), Decimal('44.4000000000'), '6235225152113', '01', 1993, 1997, 2020, '038', Decimal('44.4000000000'), 'S', 'N', 'S', 'A', datetime.date(2002, 12, 31), 32, '113', '125', '132', '142', '212', '222', '235', '242', '312', '322', '332', '341', '412', '422', '432', '441', None, None, 'R', '001102008003'),
 (99, '001102', 'BUENOS AIRES', '08', '03', '001', '01011', 'AAA0000EENN', '001102080300101011', '110010111040200080003901010011', 6, datetime.date(1996, 12, 31), 'P', 'KR 2C 2 30 SUR BQ 15 AP 101', 'D', None, None, Decimal('25.4000000000'), Decimal('44.4000000000'), '6235225152113', '01', 1993, 1997, 2020, '038', Decimal('44.4000000000'), 'S', 'N', 'S', 'A', datetime.date(2002, 12, 31), 32, '113', '125', '132', '142', '212', '222', '235', '242', '312', '322', '332', '341', '412', '422', '432', '441', None, None, 'R', '001102008003'),
 (100, '001102', 'BUENOS AIRES', '08', '03', '001', '01012', 'AAA0000EEOE', '001102080300101012', '110010111040200080003901010012', 6, datetime.date(1996, 12, 31), 'P', 'KR 2C 2 30 SUR BQ 15 AP 102', 'D', None, None, Decimal('25.4000000000'), Decimal('44.4000000000'), '6235225152113', '01', 1993, 1997, 2020, '038', Decimal('44.4000000000'), 'S', 'N', 'S', 'A', datetime.date(2002, 12, 31), 32, '113', '125', '132', '142', '212', '222', '235', '242', '312', '322', '332', '341', '412', '422', '432', '441', None, None, 'R', '001102008003'),
 (101, '001102', 'BUENOS AIRES', '08', '03', '001', '01013', 'AAA0000EEPP', '001102080300101013', '110010111040200080003901010013', 6, datetime.date(1996, 12, 31), 'P', 'KR 2C 2 30 SUR BQ 16 AP 101', 'D', None, None, Decimal('25.4000000000'), Decimal('44.4000000000'), '6235225152113', '01', 1993, 1997, 2020, '038', Decimal('44.4000000000'), 'S', 'N', 'S', 'A', datetime.date(2002, 12, 31), 32, '113', '125', '132', '142', '212', '222', '235', '242', '312', '322', '332', '341', '412', '422', '432', '441', None, None, 'R', '001102008003'),
 (102, '001102', 'BUENOS AIRES', '08', '03', '001', '01014', 'AAA0000EERU', '001102080300101014', '110010111040200080003901010014', 6, datetime.date(1996, 12, 31), 'P', 'KR 2C 2 30 SUR BQ 16 AP 102', 'D', None, None, Decimal('25.4000000000'), Decimal('44.4000000000'), '6235225152113', '01', 1993, 1997, 2020, '038', Decimal('44.4000000000'), 'S', 'N', 'S', 'A', datetime.date(2002, 12, 31), 32, '113', '125', '132', '142', '212', '222', '235', '242', '312', '322', '332', '341', '412', '422', '432', '441', None, None, 'R', '001102008003'),
 (103, '001102', 'BUENOS AIRES', '08', '03', '001', '02001', 'AAA0000EESK', '001102080300102001', '110010111040200080003901020001', 6, datetime.date(1996, 12, 31), 'P', 'KR 2C 2 30 SUR BQ 17 AP 201', 'D', None, None, Decimal('25.9000000000'), Decimal('45.3000000000'), '6235225152113', '01', 1993, 1997, 2020, '038', Decimal('45.3000000000'), 'S', 'N', 'S', 'A', datetime.date(2002, 12, 31), 32, '113', '125', '132', '142', '212', '222', '235', '242', '312', '322', '332', '341', '412', '422', '432', '441', None, None, 'R', '001102008003'),
 (104, '001102', 'BUENOS AIRES', '08', '03', '001', '02002', 'AAA0000EETO', '001102080300102002', '110010111040200080003901020002', 6, datetime.date(1996, 12, 31), 'P', 'KR 2C 2 30 SUR BQ 17 AP 202', 'D', None, None, Decimal('25.9000000000'), Decimal('45.3000000000'), '6235225152113', '01', 1993, 1997, 2020, '038', Decimal('45.3000000000'), 'S', 'N', 'S', 'A', datetime.date(2002, 12, 31), 32, '113', '125', '132', '142', '212', '222', '235', '242', '312', '322', '332', '341', '412', '422', '432', '441', None, None, 'R', '001102008003'),
 (105, '001102', 'BUENOS AIRES', '08', '03', '001', '02003', 'AAA0000EEUZ', '001102080300102003', '110010111040200080003901020003', 6, datetime.date(1996, 12, 31), 'P', 'KR 2C 2 30 SUR BQ 18 AP 201', 'D', None, None, Decimal('25.9000000000'), Decimal('45.3000000000'), '6235225152113', '01', 1993, 1997, 2020, '038', Decimal('45.3000000000'), 'S', 'N', 'S', 'A', datetime.date(2002, 12, 31), 32, '113', '125', '132', '142', '212', '222', '235', '242', '312', '322', '332', '341', '412', '422', '432', '441', None, None, 'R', '001102008003'),
 (106, '001102', 'BUENOS AIRES', '08', '03', '001', '02004', 'AAA0000EEWF', '001102080300102004', '110010111040200080003901020004', 6, datetime.date(1996, 12, 31), 'P', 'KR 2C 2 30 SUR BQ 18 AP 202', 'D', None, None, Decimal('25.9000000000'), Decimal('45.3000000000'), '6235225152113', '01', 1993, 1997, 2020, '038', Decimal('45.3000000000'), 'S', 'N', 'S', 'A', datetime.date(2002, 12, 31), 32, '113', '125', '132', '142', '212', '222', '235', '242', '312', '322', '332', '341', '412', '422', '432', '441', None, None, 'R', '001102008003'),
 (107, '001102', 'BUENOS AIRES', '08', '03', '001', '02005', 'AAA0000EEXR', '001102080300102005', '110010111040200080003901020005', 6, datetime.date(1996, 12, 31), 'P', 'KR 2C 2 30 SUR BQ 19 AP 201', 'D', None, None, Decimal('25.9000000000'), Decimal('45.3000000000'), '6235225152113', '01', 1993, 1997, 2020, '038', Decimal('45.3000000000'), 'S', 'N', 'S', 'A', datetime.date(2002, 12, 31), 32, '113', '125', '132', '142', '212', '222', '235', '242', '312', '322', '332', '341', '412', '422', '432', '441', None, None, 'R', '001102008003'),
 (108, '001102', 'BUENOS AIRES', '08', '03', '001', '02006', 'AAA0000EEYX', '001102080300102006', '110010111040200080003901020006', 6, datetime.date(1996, 12, 31), 'P', 'KR 2C 2 30 SUR BQ 19 AP 202', 'D', None, None, Decimal('25.9000000000'), Decimal('45.3000000000'), '6235225152113', '01', 1993, 1997, 2020, '038', Decimal('45.3000000000'), 'S', 'N', 'S', 'A', datetime.date(2002, 12, 31), 32, '113', '125', '132', '142', '212', '222', '235', '242', '312', '322', '332', '341', '412', '422', '432', '441', None, None, 'R', '001102008003'),
 (109, '001102', 'BUENOS AIRES', '08', '03', '001', '02007', 'AAA0000EEZM', '001102080300102007', '110010111040200080003901020007', 6, datetime.date(1996, 12, 31), 'P', 'KR 2C 2 30 SUR BQ 13 AP 201', 'D', None, None, Decimal('25.9000000000'), Decimal('45.3000000000'), '6235225152113', '01', 1993, 1997, 2020, '038', Decimal('45.3000000000'), 'S', 'N', 'S', 'A', datetime.date(2002, 12, 31), 32, '113', '125', '132', '142', '212', '222', '235', '242', '312', '322', '332', '341', '412', '422', '432', '441', None, None, 'R', '001102008003'),
 (110, '001102', 'BUENOS AIRES', '08', '03', '001', '02008', 'AAA0000EFAW', '001102080300102008', '110010111040200080003901020008', 6, datetime.date(1996, 12, 31), 'P', 'KR 2C 2 30 SUR BQ 13 AP 202', 'D', None, None, Decimal('25.9000000000'), Decimal('45.3000000000'), '6235225152113', '01', 1993, 1997, 2020, '038', Decimal('45.3000000000'), 'S', 'N', 'S', 'A', datetime.date(2002, 12, 31), 32, '113', '125', '132', '142', '212', '222', '235', '242', '312', '322', '332', '341', '412', '422', '432', '441', None, None, 'R', '001102008003'),
 (111, '001102', 'BUENOS AIRES', '23', '04', '005', '02001', 'AAA0163FTNN', '001102230400502001', '110010111040200230004905020001', 6, datetime.date(2002, 6, 20), 'P', 'KR 3 6 75 SUR IN 9 AP 201', 'D', None, None, Decimal('34.0400000000'), Decimal('50.6000000000'), '6232125152113', '01', 1998, 1997, 2020, '038', Decimal('50.6000000000'), 'S', 'N', 'S', 'A', datetime.date(2002, 6, 20), 45, '115', '125', '133', '143', '212', '223', '235', '242', '312', '322', '332', '342', '412', '422', '432', '442', None, None, 'R', '001102023004'),
 (112, '001102', 'BUENOS AIRES', '23', '04', '005', '02002', 'AAA0163FTOE', '001102230400502002', '110010111040200230004905020002', 6, datetime.date(2002, 6, 20), 'P', 'KR 3 6 75 SUR IN 9 AP 202', 'D', None, None, Decimal('34.0400000000'), Decimal('50.6000000000'), '6232125152113', '01', 1998, 1997, 2020, '038', Decimal('50.6000000000'), 'S', 'N', 'S', 'A', datetime.date(2002, 6, 20), 45, '115', '125', '133', '143', '212', '223', '235', '242', '312', '322', '332', '342', '412', '422', '432', '442', None, None, 'R', '001102023004'),
 (113, '001102', 'BUENOS AIRES', '23', '04', '005', '02003', 'AAA0163FTPP', '001102230400502003', '110010111040200230004905020003', 6, datetime.date(2002, 6, 20), 'P', 'KR 3 6 75 SUR IN 9 AP 203', 'D', None, None, Decimal('34.0400000000'), Decimal('50.6000000000'), '6232125152113', '01', 1998, 1997, 2020, '038', Decimal('50.6000000000'), 'S', 'N', 'S', 'A', datetime.date(2002, 6, 20), 45, '115', '125', '133', '143', '212', '223', '235', '242', '312', '322', '332', '342', '412', '422', '432', '442', None, None, 'R', '001102023004')]

In [11]:
%%sql
SELECT * FROM area_catastral.predio
WHERE prechip = 'AAA0000COWF' LIMIT 5;

 * postgresql://postgres:***@localhost/MapaReferencia
4 rows affected.

[(1506, '001101', 'LAS BRISAS', '09', '02', '000', '00000', 'AAA0000COWF', '7S 6 14', '110010111040100090002000000000', 6, datetime.date(1997, 12, 31), 'N', 'CL 7 SUR 6 54', 'D', 'S', 'CL 7 SUR 6 64', Decimal('1622.00000000'), Decimal('908.850000000'), '6222125152141', '06', 1957, 1998, 2020, '013', Decimal('598.910000000'), 'N', 'S', 'N', 'A', datetime.date(2010, 11, 16), 22, '111', '122', '132', '141', '212', '222', '233', '241', '000', '000', '332', '000', '000', '000', '000', '000', '000', '000', 'C', '001101009002'),
 (1507, '001101', 'LAS BRISAS', '09', '02', '000', '00000', 'AAA0000COWF', '7S 6 14', '110010111040100090002000000000', 6, datetime.date(1997, 12, 31), 'N', 'CL 7 SUR 6 54', 'D', 'S', 'CL 7 SUR 6 44', Decimal('1622.00000000'), Decimal('908.850000000'), '6222125152141', '06', 1957, 1998, 2020, '013', Decimal('598.910000000'), 'N', 'S', 'N', 'A', datetime.date(2010, 11, 16), 22, '111', '122', '132', '141', '212', '222', '233', '241', '000', '000', '332', '000', '000', '000', '000', '000', '000', '000', 'C', '001101009002'),
 (1508, '001101', 'LAS BRISAS', '09', '02', '000', '00000', 'AAA0000COWF', '7S 6 14', '110010111040100090002000000000', 6, datetime.date(1997, 12, 31), 'N', 'CL 7 SUR 6 54', 'D', 'S', 'CL 7 SUR 6 64', Decimal('1622.00000000'), Decimal('908.850000000'), '6222125152141', '06', 2004, 1998, 2020, '013', Decimal('309.940000000'), 'N', 'S', 'N', 'B', datetime.date(2010, 11, 16), 51, '114', '125', '132', '143', '212', '222', '233', '243', '000', '000', '332', '000', '000', '000', '000', '000', '000', '000', 'C', '001101009002'),
 (1509, '001101', 'LAS BRISAS', '09', '02', '000', '00000', 'AAA0000COWF', '7S 6 14', '110010111040100090002000000000', 6, datetime.date(1997, 12, 31), 'N', 'CL 7 SUR 6 54', 'D', 'S', 'CL 7 SUR 6 44', Decimal('1622.00000000'), Decimal('908.850000000'), '6222125152141', '06', 2004, 1998, 2020, '013', Decimal('309.940000000'), 'N', 'S', 'N', 'B', datetime.date(2010, 11, 16), 51, '114', '125', '132', '143', '212', '222', '233', '243', '000', '000', '332', '000', '000', '000', '000', '000', '000', '000', 'C', '001101009002')]

In [ ]:
%%sql
SELECT prechip, prevetustz, avg(prepuntaje)
FROM data.predios_ofertas
group by (prechip, prevetustz)

In [82]:
%%sql
SELECT * FROM data.ofertas
WHERE chip = 'AAA0251LMRJ' LIMIT 5;

 * postgresql://postgres:***@localhost/MapaReferencia
1 rows affected.

[('ESTACION CENTRAL', '006204', '017', '015', '000', '00000', datetime.date(2019, 9, 30), 'KR 33 17 27', '500000', 'VENTA', 'Bodega', 'CAMPO', 'AAA0251LMRJ', 2060.8, 2306.0, 7000000000.0, 6880300000.0, 0.0, 0.0)]

# Mapa de referencia

In [4]:
con = psycopg2.connect(database='MapaReferencia',user='postgres',password='152622',host='localhost')
cursor = con.cursor()

In [72]:
cursor.execute("""select schema_name
from information_schema.schemata;""")
schemas = []
for s in cursor.fetchall():
    schemas.append(s)

In [22]:
schemas

[('pg_toast',),
 ('pg_temp_1',),
 ('pg_toast_temp_1',),
 ('pg_catalog',),
 ('information_schema',),
 ('topology',),
 ('area_catastral',),
 ('area_planeamiento',),
 ('corriente_agua',),
 ('elevacion',),
 ('entidad_territorial',),
 ('nomenclatura',),
 ('poblacion_vivienda',),
 ('punto_control',),
 ('superficie_agua',),
 ('toponimo',),
 ('transporte_terrestre',),
 ('zona_hidrografica',),
 ('public',),
 ('spatial',),
 ('data',)]

In [75]:
dictfinal = {}
for s in schemas[6:]:
    schema = s[0]
    cursor.execute(f"""SELECT table_name FROM information_schema.tables 
    WHERE table_schema = '{schema}'""")
    temp_list = []
    for table in cursor.fetchall():
        sql = f'SELECT * FROM {schema}.{table[0]}'
        temp_list.append(table[0])
    dictfinal[schema] = temp_list

In [76]:
dictfinal

{'area_catastral': ['lote', 'predio', 'manz', 'scat', 'uso', 'cons'],
 'area_planeamiento': ['aurb', 'suel', 'upla'],
 'corriente_agua': ['cdag'],
 'elevacion': ['cniv'],
 'entidad_territorial': ['corr', 'cpob', 'loca', 'muni'],
 'nomenclatura': ['cpos', 'pdom'],
 'poblacion_vivienda': ['esoc'],
 'punto_control': ['pgeo'],
 'superficie_agua': ['cagu'],
 'toponimo': ['ngeo'],
 'transporte_terrestre': ['aitr',
  'ande',
  'estado',
  'cicl',
  'calz',
  'puen',
  'psitp',
  'rbic',
  'sepa',
  'ntra',
  'mvi'],
 'zona_hidrografica': ['cuenca',
  'microcuenca',
  'subcuenca',
  'subzonahidrografica'],
 'public': ['d_preclasepr',
  'geography_columns',
  'geometry_columns',
  'spatial_ref_sys',
  'd_pretdsi',
  'd_pretpropie',
  'd_predestino',
  'd_premdirecc',
  'd_rbiclase',
  'd_rbisentido',
  'd_rbitsuperf',
  'd_sepmateria',
  'd_aitestado',
  'd_aitfuente',
  'd_aittransit',
  'd_aitzsitp',
  'd_andmateria',
  'd_calestado',
  'd_calfuncion',
  'd_caltsuperf',
  'd_cictsuperf',
  'd_conmejora',
  'd_contsemis',
  'd_lotdispers',
  'd_lotdistrit',
  'd_corriente_agua',
  'd_cnitipo',
  'd_cpotipo',
  'd_esoestrato',
  'd_cuerpo_agua',
  'd_mvisvia',
  'd_mvitipo',
  'd_ntrmodo',
  'd_ngeestado',
  'd_ntrmtransp',
  'd_ntrtipo',
  'd_ucoviviend',
  'sbt_scatipo',
  'sbt_pdotipo',
  'sbt_mvitcla',
  'd_uconph',
  'd_ucoph',
  'd_usotuso',
  'sbt_suecsuelo',
  'sbt_upltipo',
  'sbt_puetipo',
  'd_aurtplano',
  'd_ngeclasifi',
  'sbt_rbilocaliz'],
 'spatial': [],
 'data': ['ofertas', 'predios_ofertas']}

In [61]:
%%sql
DROP view DATA.predios_ofertas;

 * postgresql://postgres:***@localhost/MapaReferencia
Done.

[]

In [90]:
#para leer todas las tablas creo que no es necesario y se demora mucho y algunas tablas no tienen geom, creo que no es necesario
# dictfinal = {}
# for s in schemas[6:7]:
#     schema = s[0]
#     cursor.execute(f"""SELECT table_name FROM information_schema.tables 
#     WHERE table_schema = '{schema}'""")
#     temp_dict = {}
#     for table in cursor.fetchall():
#         sql = f'SELECT * FROM {schema}.{table[0]}'
#         temp_dict[table] = gpd.GeoDataFrame.from_postgis(sql, con, geom_col='geom') 
#     dictfinal[schema] = temp_dict

In [6]:
sql_q = 'SELECT * FROM data.lotes_ofertas_predios'
predios_lote = pd.read_sql_query(sql_q, con)

In [15]:
predios_lote['prefincorp'] = predios_lote['prefincorp'].apply(lambda x: pd.to_datetime(x, format='%Y/%m/%d', errors='coerce'))

In [19]:
predios_lote['prefcalif'] = predios_lote['prefcalif'].apply(lambda x: pd.to_datetime(x, format='%Y/%m/%d', errors='coerce'))

In [17]:
predios_lote.dtypes

gid                    int64
precbarrio            object
prenbarrio            object
precmanz              object
precpredio            object
preccons              object
precresto             object
prechip               object
precedcata            object
prenupre              object
pretprop               int64
prefincorp    datetime64[ns]
preclase              object
predirecc             object
premdirecc            object
pretdirecc            object
predsi                object
preaterre            float64
preaconst            float64
preczhf               object
precdestin            object
prevetustz             int64
prevforma              int64
prevactual             int64
precuso               object
preauso              float64
preusoph              object
preusonph             object
preuvivien            object
preucalif             object
prefcalif             object
prepuntaje             int64
preearmaz             object
preemuros             object
preecubier            object
preecons              object
preafachad            object
preacubier            object
preapisos             object
preacons              object
prebtamano            object
prebenchap            object
prebmobili            object
prebcons              object
prectamano            object
precenchap            object
precmobili            object
precconse             object
precindus             object
preacercha            object
preclcons             object
barmanpre             object
dtype: object

In [18]:
predios_lote.head()

,gid,precbarrio,prenbarrio,precmanz,precpredio,preccons,precresto,prechip,precedcata,prenupre,pretprop,prefincorp,preclase,predirecc,premdirecc,pretdirecc,predsi,preaterre,preaconst,preczhf,precdestin,prevetustz,prevforma,prevactual,precuso,preauso,preusoph,preusonph,preuvivien,preucalif,prefcalif,prepuntaje,preearmaz,preemuros,preecubier,preecons,preafachad,preacubier,preapisos,preacons,prebtamano,prebenchap,prebmobili,prebcons,prectamano,precenchap,precmobili,precconse,precindus,preacercha,preclcons,barmanpre
0,25,001101,LAS BRISAS,05,22,000,00000,AAA0000BBMS,4S 5 41,110010111040100050022000000000,6,1997-12-31,N,KR 6 3 20 SUR,D,None,None,192.0,142.1,6235225153112,01,1957,1998,2020,001,142.1,S,S,S,A,2018-11-22,28,113,125,132,141,212,223,234,241,312,323,331,341,412,423,432,441,None,None,R,001101005022
1,95,001102,BUENOS AIRES,08,03,001,01007,AAA0000EEJH,001102080300101007,110010111040200080003901010007,6,1996-12-31,P,KR 2C 2 30 SUR BQ 13 AP 101,D,None,None,25.4,44.4,6235225152113,01,1993,1997,2020,038,44.4,S,N,S,A,2002-12-31,32,113,125,132,142,212,222,235,242,312,322,332,341,412,422,432,441,None,None,R,001102008003
2,96,001102,BUENOS AIRES,08,03,001,01008,AAA0000EEKL,001102080300101008,110010111040200080003901010008,6,1996-12-31,P,KR 2C 2 30 SUR BQ 13 AP 102,D,None,None,25.4,44.4,6235225152113,01,1993,1997,2020,038,44.4,S,N,S,A,2002-12-31,32,113,125,132,142,212,222,235,242,312,322,332,341,412,422,432,441,None,None,R,001102008003
3,97,001102,BUENOS AIRES,08,03,001,01009,AAA0000EELW,001102080300101009,110010111040200080003901010009,6,1996-12-31,P,KR 2C 2 30 SUR BQ 14 AP 101,D,None,None,25.4,44.4,6235225152113,01,1993,1997,2020,038,44.4,S,N,S,A,2002-12-31,32,113,125,132,142,212,222,235,242,312,322,332,341,412,422,432,441,None,None,R,001102008003
4,98,001102,BUENOS AIRES,08,03,001,01010,AAA0000EEMS,001102080300101010,110010111040200080003901010010,6,1996-12-31,P,KR 2C 2 30 SUR BQ 14 AP 102,D,None,None,25.4,44.4,6235225152113,01,1993,1997,2020,038,44.4,S,N,S,A,2002-12-31,32,113,125,132,142,212,222,235,242,312,322,332,341,412,422,432,441,None,None,R,001102008003

In [23]:
import pandas_compat as pdc

In [25]:
predios_lote.to_csv('predioslote.csv')

In [ ]:
predios_lote[[i for i in list(predios_lote)[6:] if not in ['gid']]]

In [9]:
predios_lote.to_csv('predios_lote_full.csv')

,gid,precbarrio,prenbarrio,precmanz,precpredio,preccons,precresto,prechip,precedcata,prenupre,pretprop,prefincorp,preclase,predirecc,premdirecc,pretdirecc,predsi,preaterre,preaconst,preczhf,precdestin,prevetustz,prevforma,prevactual,precuso,preauso,preusoph,preusonph,preuvivien,preucalif,prefcalif,prepuntaje,preearmaz,preemuros,preecubier,preecons,preafachad,preacubier,preapisos,preacons,prebtamano,prebenchap,prebmobili,prebcons,prectamano,precenchap,precmobili,precconse,precindus,preacercha,preclcons,barmanpre
0,25,001101,LAS BRISAS,05,22,000,00000,AAA0000BBMS,4S 5 41,110010111040100050022000000000,6,1997-12-31,N,KR 6 3 20 SUR,D,None,None,192.0,142.1,6235225153112,01,1957,1998,2020,001,142.1,S,S,S,A,2018-11-22,28,113,125,132,141,212,223,234,241,312,323,331,341,412,423,432,441,None,None,R,001101005022
1,95,001102,BUENOS AIRES,08,03,001,01007,AAA0000EEJH,001102080300101007,110010111040200080003901010007,6,1996-12-31,P,KR 2C 2 30 SUR BQ 13 AP 101,D,None,None,25.4,44.4,6235225152113,01,1993,1997,2020,038,44.4,S,N,S,A,2002-12-31,32,113,125,132,142,212,222,235,242,312,322,332,341,412,422,432,441,None,None,R,001102008003
2,96,001102,BUENOS AIRES,08,03,001,01008,AAA0000EEKL,001102080300101008,110010111040200080003901010008,6,1996-12-31,P,KR 2C 2 30 SUR BQ 13 AP 102,D,None,None,25.4,44.4,6235225152113,01,1993,1997,2020,038,44.4,S,N,S,A,2002-12-31,32,113,125,132,142,212,222,235,242,312,322,332,341,412,422,432,441,None,None,R,001102008003
3,97,001102,BUENOS AIRES,08,03,001,01009,AAA0000EELW,001102080300101009,110010111040200080003901010009,6,1996-12-31,P,KR 2C 2 30 SUR BQ 14 AP 101,D,None,None,25.4,44.4,6235225152113,01,1993,1997,2020,038,44.4,S,N,S,A,2002-12-31,32,113,125,132,142,212,222,235,242,312,322,332,341,412,422,432,441,None,None,R,001102008003
4,98,001102,BUENOS AIRES,08,03,001,01010,AAA0000EEMS,001102080300101010,110010111040200080003901010010,6,1996-12-31,P,KR 2C 2 30 SUR BQ 14 AP 102,D,None,None,25.4,44.4,6235225152113,01,1993,1997,2020,038,44.4,S,N,S,A,2002-12-31,32,113,125,132,142,212,222,235,242,312,322,332,341,412,422,432,441,None,None,R,001102008003

In [37]:
cursor.execute("""SELECT COUNT(*) FROM entidad_territorial.loca ;""")
cursor.fetchall()

[(20,)]

In [8]:
sql_sectCat = 'SELECT * FROM area_catastral.scat'
sql_zhs = 'SELECT * FROM zona_hidrografica.subcuenca'
sql_lote = 'SELECT * FROM area_catastral.lote'
# without limit, crashes
sql_predio = 'SELECT * FROM area_catastral.predio LIMIT 100'

In [8]:
SectorCatastral = gpd.GeoDataFrame.from_postgis(sql_sectCat, con, geom_col='geom')
ZonaHidrogaficaSubcuenca = gpd.GeoDataFrame.from_postgis(sql_zhs, con, geom_col='geom')
Lote = gpd.GeoDataFrame.from_postgis(sql_lote, con, geom_col='geom')
Predio = pd.read_sql_query(sql_predio, con)

In [9]:
Lote = gpd.GeoDataFrame.from_postgis(sql_lote, con, geom_col='geom')

In [12]:
Predio = pd.read_sql_query(sql_predio, con)
Predio.head()

,gid,precbarrio,prenbarrio,precmanz,precpredio,preccons,precresto,prechip,precedcata,prenupre,pretprop,prefincorp,preclase,predirecc,premdirecc,pretdirecc,predsi,preaterre,preaconst,preczhf,precdestin,prevetustz,prevforma,prevactual,precuso,preauso,preusoph,preusonph,preuvivien,preucalif,prefcalif,prepuntaje,preearmaz,preemuros,preecubier,preecons,preafachad,preacubier,preapisos,preacons,prebtamano,prebenchap,prebmobili,prebcons,prectamano,precenchap,precmobili,precconse,precindus,preacercha,preclcons,barmanpre
0,1,001101,LAS BRISAS,04,35,000,00000,AAA0000BAMR,3S 5 21,110010111040100040035000000000,6,1997-12-31,N,KR 5 2A 23 SUR,D,None,None,228.5,107.90,6235225132112,01,1950,1998,2020,001,20.00,S,S,S,B,2017-03-23,15,113,125,132,141,212,222,232,241,311,None,None,None,411,None,None,None,None,None,R,001101004035
1,2,001101,LAS BRISAS,05,01,000,00000,AAA0000BANX,4S 5 26,110010111040100050001000000000,6,1997-12-31,N,CL 4 SUR 5 06,D,None,None,191.7,78.77,6235225132112,01,2015,1998,2020,096,78.77,N,S,N,A,2017-07-28,19,113,125,133,143,211,221,232,241,000,None,None,None,000,None,None,None,000,000,R,001101005001
2,3,001101,LAS BRISAS,05,02,000,00000,AAA0000BAOM,4S 5 27,110010111040100050002000000000,6,1997-12-31,N,CL 4 SUR 5 22,D,None,None,156.2,136.00,6235225132112,01,1957,1998,2020,001,136.00,S,S,S,A,2008-12-03,29,113,125,132,141,211,222,235,241,312,324,332,341,412,422,432,441,000,000,R,001101005002
3,4,001101,LAS BRISAS,05,03,000,00000,AAA0000BAPA,4S 5 28,110010111040100050003000000000,6,1997-12-31,N,CL 4 SUR 5 34,D,None,None,181.2,129.20,6235225132112,01,1957,1998,2020,001,129.20,S,S,S,A,2000-01-01,16,113,122,132,141,211,222,234,241,312,322,None,341,412,422,431,441,None,None,R,001101005003
4,5,001101,LAS BRISAS,05,04,000,00000,AAA0000BARJ,4S 5 29,110010111040100050004000000000,6,1997-12-31,N,CL 4 SUR 5 48,D,S,CL 4 SUR 5 46,114.8,130.36,6235225132112,01,1957,1998,2020,001,130.36,S,S,S,A,2018-11-22,16,113,122,132,141,212,222,232,241,312,322,331,341,412,422,431,441,None,None,R,001101005004

In [92]:
Lote.head()

,gid,lotcodigo,lotdispers,lotildispe,lotupredia,manzcodigo,geom,lotdistrit
0,1,009108093009,N,None,1,009108093,"MULTIPOLYGON (((-74.07234 4.72298, -74.07235 4...",0
1,2,009108093010,N,None,1,009108093,"MULTIPOLYGON (((-74.07228 4.72295, -74.07229 4...",0
2,3,009222023018,N,None,1,009222023,"MULTIPOLYGON (((-74.08605 4.72798, -74.08605 4...",0
3,4,005675053034,N,None,1,005675053,"MULTIPOLYGON (((-74.13056 4.70580, -74.13057 4...",0
4,5,005675053036,N,None,1,005675053,"MULTIPOLYGON (((-74.13046 4.70576, -74.13048 4...",0

In [10]:
SectorCatastral.head()

,gid,scacodigo,scatipo,scanombre,geom
0,1,002598,0,EL MOCHUELO II URBANO,"MULTIPOLYGON (((-74.12983 4.53681, -74.12938 4..."
1,2,004524,0,SAN PABLO BOSA,"MULTIPOLYGON (((-74.19447 4.60992, -74.19288 4..."
2,3,001344,0,LOS SOCHES,"MULTIPOLYGON (((-74.08600 4.50096, -74.08693 4..."
3,4,002630,0,EL PORTAL DEL DIVINO,"MULTIPOLYGON (((-74.09576 4.48804, -74.09586 4..."
4,7,005103,0,SAN MIGUEL,"MULTIPOLYGON (((-74.07701 4.65949, -74.07734 4..."

In [38]:
ZonaHidrogaficaSubcuenca.head()

,gid,codch,nomch,codsch,nomsch,geom
0,1,2120.0,Río Bogotá,212005.0,Embalse del Muña,"MULTIPOLYGON (((-74.24142 4.54149, -74.23972 4..."
1,2,2120.0,Río Bogotá,212002.0,Río Calandaima,"MULTIPOLYGON (((-74.49380 4.54855, -74.49311 4..."
2,3,2120.0,Río Bogotá,212001.0,Río Bajo Bogotá,"MULTIPOLYGON (((-74.61330 4.58091, -74.61265 4..."
3,4,2120.0,Río Bogotá,212006.0,Río Soacha,"MULTIPOLYGON (((-74.17585 4.50547, -74.17563 4..."
4,5,2120.0,Río Bogotá,212007.0,Río Tunjuelo,"MULTIPOLYGON (((-74.17568 4.50378, -74.17564 4..."

## Unir lotes con ofertas pra ubicarlas

In [5]:
ofertas.isnull().any()

Nombre Barrio          False
Codigo Barrio          False
Codigo Manzana         False
Codigo Predio          False
Codigo Construccion    False
Codigo Resto           False
Fecha De Cargue        False
Direccion              False
Codigo Oferta          False
Tipo Oferta            False
Tipo Inmueble          False
Fuente                 False
Chip                   False
Area Terreno           False
Area Construida        False
Vr Inicial Venta       False
Vr Final Venta         False
Vr Inicial Arriendo    False
Vr Final Arriendo      False
dtype: bool

In [14]:
ofertas[(ofertas['Vr Final Venta'] == '0') & (ofertas['Vr Inicial Venta'] == '0')]

,Nombre Barrio,Codigo Barrio,Codigo Manzana,Codigo Predio,Codigo Construccion,Codigo Resto,Fecha De Cargue,Direccion,Codigo Oferta,Tipo Oferta,Tipo Inmueble,Fuente,Chip,Area Terreno,Area Construida,Vr Inicial Venta,Vr Final Venta,Vr Inicial Arriendo,Vr Final Arriendo
1,COOPERATIVA DE SUB-OFICIALES,6501,3,10,0,0,2019-09-30T00:00:00Z,KR 71F 12 02,500001,VENTA,Casa uso mixto,CAMPO,AAA0080RXPP,"100,1","211,3",0,0,0,0
2,ESTACION CENTRAL,6204,4,4,1,6011,2019-09-30T00:00:00Z,CL 14 30 17 AP 611,500002,ARRIENDO,Apartamento,CAMPO,AAA0164RCHY,"18,04","50,44",0,0,0,0
3,ARBORIZADORA ALTA,2568,10,14,0,0,2019-09-30T00:00:00Z,CL 74 SUR 38A 60,500003,ARRIENDO PARCIAL,Casa uso mixto,CAMPO,AAA0028RFAF,42,42,0,0,1200000,1178000
5,SAN PABLO BOSA,4524,14,26,0,0,2019-09-30T00:00:00Z,CL 67 SUR 78D 15,500005,ARRIENDO PARCIAL,Casa,CAMPO,AAA0046HECN,184,"347,5",0,0,"5,00E+05",491000
7,BOLONIA,2605,29,9,0,0,2019-09-30T00:00:00Z,CL 81C SUR 4 15 ESTE,500007,ARRIENDO PARCIAL,Casa uso mixto,CAMPO,AAA0144UWUH,"72,3","72,3",0,0,380000,373000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18781,SANTA MATILDE,4209,7,13,1,3001,2020-08-04T00:00:00Z,KR 31C 1 41 AP 301,518892,VENTA,Apartamento,SIN REGISTRO,AAA0271EMTO,"30,76","58,88",0,0,0,0
18782,SANTA MATILDE,4209,2,2,1,3001,2020-08-04T00:00:00Z,KR 31B 1 06 AP 301,518893,VENTA,Apartamento,SIN REGISTRO,AAA0215YCEA,"14,63","34,44",0,0,0,0
18783,BOCHICA,4211,22,13,0,0,2020-08-04T00:00:00Z,KR 35 2 70,518894,VENTA,Casa,SIN REGISTRO,AAA0037LKAW,"220,1","438,01",0,0,0,0
18784,BOCHICA,4211,22,11,0,0,2020-08-04T00:00:00Z,KR 35 2 48,518895,ARRIENDO PARCIAL,Casa,SIN REGISTRO,AAA0037LJYX,"137,2","432,88",0,0,0,0
18785,BOCHICA,4211,14,6,0,0,2020-08-04T00:00:00Z,KR 35A 1H 32,518896,VENTA,Casa,SIN REGISTRO,AAA0037KYYX,133,"398,9",0,0,0,0

In [15]:
ofertas[(ofertas['Vr Final Arriendo'] == '0') & (ofertas['Vr Inicial Arriendo'] == '0')]

,Nombre Barrio,Codigo Barrio,Codigo Manzana,Codigo Predio,Codigo Construccion,Codigo Resto,Fecha De Cargue,Direccion,Codigo Oferta,Tipo Oferta,Tipo Inmueble,Fuente,Chip,Area Terreno,Area Construida,Vr Inicial Venta,Vr Final Venta,Vr Inicial Arriendo,Vr Final Arriendo
0,ESTACION CENTRAL,6204,17,15,0,0,2019-09-30T00:00:00Z,KR 33 17 27,"5,00E+05",VENTA,Bodega,CAMPO,AAA0251LMRJ,"2060,8",2306,"7,00E+09",6880300000,0,0
1,COOPERATIVA DE SUB-OFICIALES,6501,3,10,0,0,2019-09-30T00:00:00Z,KR 71F 12 02,500001,VENTA,Casa uso mixto,CAMPO,AAA0080RXPP,"100,1","211,3",0,0,0,0
2,ESTACION CENTRAL,6204,4,4,1,6011,2019-09-30T00:00:00Z,CL 14 30 17 AP 611,500002,ARRIENDO,Apartamento,CAMPO,AAA0164RCHY,"18,04","50,44",0,0,0,0
4,ARBORIZADORA ALTA,2568,10,12,0,0,2019-09-30T00:00:00Z,CL 74 SUR 38A 52,500004,VENTA,Casa uso mixto,CAMPO,AAA0028REYN,42,"130,2","1,50E+08",145335000,0,0
6,BOLONIA,2605,29,9,0,0,2019-09-30T00:00:00Z,CL 81C SUR 4 15 ESTE,500006,VENTA,Casa uso mixto,CAMPO,AAA0144UWUH,"72,3","72,3","5,00E+07",48345000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18781,SANTA MATILDE,4209,7,13,1,3001,2020-08-04T00:00:00Z,KR 31C 1 41 AP 301,518892,VENTA,Apartamento,SIN REGISTRO,AAA0271EMTO,"30,76","58,88",0,0,0,0
18782,SANTA MATILDE,4209,2,2,1,3001,2020-08-04T00:00:00Z,KR 31B 1 06 AP 301,518893,VENTA,Apartamento,SIN REGISTRO,AAA0215YCEA,"14,63","34,44",0,0,0,0
18783,BOCHICA,4211,22,13,0,0,2020-08-04T00:00:00Z,KR 35 2 70,518894,VENTA,Casa,SIN REGISTRO,AAA0037LKAW,"220,1","438,01",0,0,0,0
18784,BOCHICA,4211,22,11,0,0,2020-08-04T00:00:00Z,KR 35 2 48,518895,ARRIENDO PARCIAL,Casa,SIN REGISTRO,AAA0037LJYX,"137,2","432,88",0,0,0,0
18785,BOCHICA,4211,14,6,0,0,2020-08-04T00:00:00Z,KR 35A 1H 32,518896,VENTA,Casa,SIN REGISTRO,AAA0037KYYX,133,"398,9",0,0,0,0

In [7]:
ofertas['lotcodigo'] = ofertas['Codigo_Barrio']+ofertas['Codigo_Manzana']+ofertas['Codigo_Predio']

In [16]:
ofertas_code
= ofertas.drop_duplicates(subset='lotcodigo').reset_index()[['lotcodigo','Chip']]

In [10]:
ofertas[ofertas.lotcodigo=='004551073010']

,Nombre_Barrio,Codigo_Barrio,Codigo_Manzana,Codigo_Predio,Codigo_Construccion,Codigo_Resto,Fecha_De_Cargue,Direccion,Codigo_Oferta,Tipo_Oferta,Tipo_Inmueble,Fuente,Chip,Area_Terreno,Area_Construida,Vr_Inicial_Venta,Vr_Final_Venta,Vr_Inicial_Arriendo,Vr_Final_Arriendo,lotcodigo
1713,HIPOTECHO SUR,004551,073,010,003,25002,2019-10-10T00:00:00Z,AK 68 5 17 TO 1 AP 2502,501719,ARRIENDO,Apartamento,CAMPO,AAA0270KNXR,14.84,64.81,0.0,0.0,0.0,0.0,004551073010
1716,HIPOTECHO SUR,004551,073,010,004,01002,2019-10-10T00:00:00Z,AK 68 5 17 TO 2 AP 107,501722,VENTA,Apartamento,CAMPO,AAA0270HNUH,14.98,65.58,0.0,0.0,0.0,0.0,004551073010
1718,HIPOTECHO SUR,004551,073,010,003,12002,2019-10-10T00:00:00Z,AK 68 5 17 TO 1 AP 1202,501724,"VENTA, ARRIENDO",Apartamento,CAMPO,AAA0270KKUH,14.57,63.49,360000000.0,350316000.0,1270000.0,1247000.0,004551073010
1719,HIPOTECHO SUR,004551,073,010,003,11001,2019-10-10T00:00:00Z,AK 68 5 17 TO 1 AP 1101,501725,VENTA,Apartamento,CAMPO,AAA0270KKKC,12.91,56.92,0.0,0.0,0.0,0.0,004551073010
1723,HIPOTECHO SUR,004551,073,010,004,10005,2019-10-10T00:00:00Z,AK 68 5 17 TO 2 AP 1010,501729,"VENTA, ARRIENDO",Apartamento,CAMPO,AAA0270HXNX,14.44,63.46,0.0,0.0,0.0,0.0,004551073010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1870,HIPOTECHO SUR,004551,073,010,005,23001,2019-10-10T00:00:00Z,AK 68 5 17 TO 3 AP 2311,501876,ARRIENDO,Apartamento,CAMPO,AAA0270JZEP,12.91,56.92,0.0,0.0,1400000.0,1400000.0,004551073010
1872,HIPOTECHO SUR,004551,073,010,007,11005,2019-10-10T00:00:00Z,AK 68 5 17 TO 5 AP 1125,501878,ARRIENDO,Apartamento,CAMPO,AAA0270JXWW,14.44,63.46,0.0,0.0,1400000.0,1400000.0,004551073010
1873,HIPOTECHO SUR,004551,073,010,004,07001,2019-10-10T00:00:00Z,AK 68 5 17 TO 2 AP 706,501879,VENTA,Apartamento,CAMPO,AAA0270HWRU,12.91,56.92,280000000.0,272020000.0,0.0,0.0,004551073010
1875,HIPOTECHO SUR,004551,073,010,003,05002,2019-10-10T00:00:00Z,AK 68 5 17 TO 1 AP 502,501881,ARRIENDO,Apartamento,CAMPO,AAA0270KJZM,14.84,64.81,0.0,0.0,0.0,0.0,004551073010
1876,HIPOTECHO SUR,004551,073,010,003,01005,2019-10-10T00:00:00Z,AK 68 5 17 PQ 8,501882,ARRIENDO,Garaje,CAMPO,AAA0270DTZE,1.24,10.81,0.0,0.0,150000.0,150000.0,004551073010

In [17]:
ofertas_codes

          lotcodigo         Chip
0      006204017015  AAA0251LMRJ
1      006501003010  AAA0080RXPP
2      006204004004  AAA0164RCHY
3      002568010014  AAA0028RFAF
4      002568010012  AAA0028REYN
...             ...          ...
14788  004209007013  AAA0271EMTO
14789  004209002002  AAA0215YCEA
14790  004211022013  AAA0037LKAW
14791  004211022011  AAA0037LJYX
14792  004211014006  AAA0037KYYX

[14793 rows x 2 columns]

In [30]:
ofertas_codes = ofertas_codes.drop_duplicates(subset='lotcodigo')

In [10]:
Lote_3116 = Lote.to_crs("EPSG:3116")

In [23]:
Lotes_ofertas = pd.merge(Lote_3116,ofertas,on='lotcodigo',how='right')
Lotes_ofertas

,gid,lotcodigo,lotdispers,lotildispe,lotupredia,manzcodigo,geom,lotdistrit,NOMBRE_BARRIO,CODIGO_BARRIO,CODIGO_MANZANA,CODIGO_PREDIO,CODIGO_CONSTRUCCION,CODIGO_RESTO,DIRECCION_REAL,CHIP,OFT_CODIGO,OFT_TIPO_OFERTA,OFT_TIPO_INMUEBLE,OFT_FUENTE,OFT_FECHA_CAPTURA,OIA_TIPO_AJUSTE,OFT_TIPO_NORMA_JURIDICA,OIC_AREA_TERRENO,OIC_AREA_CONSTRUCCION,OFT_ES_OFERTA_MULTIPLE,OFT_PREDIOS_ADICIONALES,OFT_TIPO_CASA_USO_MIXTO,VR_INICIAL_VENTA,VR_FINAL_VENTA,VR_INICIAL_ARRIENDO,VR_FINAL_ARRIENDO,OIC_VALOR_ADM,OIC_VALOR_ANEXOS,OIA_TIENE_ASCENSOR,OIA_CANT_GARAJES,OIA_TIPO_GARAJE,OIA_COND_JUR_GARAJE
0,10869.0,009114036002,N,None,770.0,009114036,"MULTIPOLYGON (((1001128.804 1016427.031, 10011...",0.0,GILMAR,009114,036,002,001,09001,CL 160 73 47 TO 1 AP 901,AAA0244KHEP,338319,VENTA,APARTAMENTO,CAMPO;,2018-08-01 00:00:00,AJUSTE EFECTIVO,PH,1.00,154.30,NO,NaN,NaN,830000000.0,8.471006e+08,NaN,NaN,400000.0,0.0,NO,2,CUBIERTO,PRIVADO
1,10869.0,009114036002,N,None,770.0,009114036,"MULTIPOLYGON (((1001128.804 1016427.031, 10011...",0.0,GILMAR,009114,036,002,001,12001,CL 160 73 47 TO 1 AP 1201,AAA0244KHTD,338320,VENTA,APARTAMENTO,CAMPO;,2018-08-01 00:00:00,AJUSTE EFECTIVO,PH,1.00,154.30,NO,NaN,NaN,890000000.0,9.072147e+08,NaN,NaN,400000.0,0.0,NO,2,CUBIERTO,PRIVADO
2,10869.0,009114036002,N,None,770.0,009114036,"MULTIPOLYGON (((1001128.804 1016427.031, 10011...",0.0,GILMAR,009114,036,002,002,02003,CL 160 73 47 TO 2 AP 203,AAA0244KPJZ,372586,VENTA,APARTAMENTO,NOTARIADO Y REGISTRO,2018-09-26 00:00:00,NEGOCIO REALIZADO CON INFORMACION,PH,52.05,180.30,NO,NaN,NaN,880375450.0,9.317424e+08,NaN,NaN,NaN,NaN,NaN,1,PARQUEADERO CUBIERTO,NaN
3,10869.0,009114036002,N,None,770.0,009114036,"MULTIPOLYGON (((1001128.804 1016427.031, 10011...",0.0,GILMAR,009114,036,002,005,12002,CL 160 73 47 TO 5 AP 1202,AAA0226DUSY,373678,VENTA,APARTAMENTO,NOTARIADO Y REGISTRO,2018-11-08 00:00:00,NEGOCIO REALIZADO CON INFORMACION,PH,52.42,181.60,NO,NaN,NaN,700000000.0,7.408426e+08,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
4,10869.0,009114036002,N,None,770.0,009114036,"MULTIPOLYGON (((1001128.804 1016427.031, 10011...",0.0,GILMAR,009114,036,002,002,01004,CL 160 73 47 TO 2 AP 104,AAA0244KPEP,375188,VENTA,APARTAMENTO,NOTARIADO Y REGISTRO,2018-12-14 00:00:00,NEGOCIO REALIZADO CON INFORMACION,PH,44.09,152.50,NO,NaN,NaN,808879400.0,8.560748e+08,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119184,722360.0,001110015021,N,None,1.0,001110015,"MULTIPOLYGON (((999386.157 998106.310, 999384....",0.0,SAN JAVIER,001110,015,021,000,00000,KR 4 8 01 SUR,AAA0001AOJZ,519330,VENTA,Casa,CAMPO,2020-09-01 15:36:03,AJUSTE EFECTIVO,NPH,100.70,261.50,NO,SIN PREDIOS ADICIONALES,NaN,570000000.0,5.570610e+08,0.0,0.0,0.0,0.0,NaN,0,NaN,NaN
119185,724199.0,001110017016,N,None,1.0,001110017,"MULTIPOLYGON (((999282.566 998043.868, 999281....",0.0,SAN JAVIER,001110,017,016,000,00000,CL 9 SUR 4 45,AAA0001ARFT,519337,VENTA,Casa,CAMPO,2020-09-01 15:49:28,AJUSTE EFECTIVO,NPH,200.00,141.40,NO,SIN PREDIOS ADICIONALES,NaN,430000000.0,4.190350e+08,0.0,0.0,0.0,0.0,NaN,3,NaN,NaN
119186,334650.0,004612058022,N,None,1.0,004612058,"MULTIPOLYGON (((989018.146 1004856.322, 989012...",0.0,DINDALITO,004612,058,022,000,00000,KR 92B 42G 51 SUR,AAA0138FRLW,519338,VENTA,Casa,CAMPO,2020-09-01 15:51:02,AJUSTE EFECTIVO,NPH,72.00,144.06,NO,SIN PREDIOS ADICIONALES,NaN,240000000.0,2.329680e+08,0.0,0.0,0.0,0.0,NaN,0,NaN,NaN
119187,242186.0,004612058021,N,None,1.0,004612058,"MULTIPOLYGON (((989023.404 1004859.205, 989018...",0.0,DINDALITO,004612,058,021,000,00000,KR 92B 42G 45 SUR,AAA0138FRKL,519342,VENTA,Casa,CAMPO,2020-09-01 15:58:02,AJUSTE EFECTIVO,NPH,72.00,70.60,NO,SIN PREDIOS ADICIONALES,NaN,220000000.0,2.134660e+08,0.0,0.0,0.0,0.0,NaN,1,NaN,NaN
119188,474999.0,001307005026,N,None,1.0,001307005,"MULTIPOLYGON (((999400.582 996208.921, 999398....",0.0,RAMAJAL,001307,005,026,000,00000,KR 9D ESTE 28C 15 SUR,AAA0002ZYLF,519353,VENTA,Casa,CAMPO,2020-09-01 16:12:00,AJUSTE EFECTIVO,NPH,94.20,183.40,NO,SIN PREDIOS ADICIONALES,NaN,190000000.0,1.842430e+08,0.0,0.0,0.0,0.0,NaN,0,NaN,NaN

In [24]:
Lotes_ofertas['X'] = Lotes_ofertas.centroid.x
Lotes_ofertas['Y'] = Lotes_ofertas.centroid.y
Lotes_ofertas.head()

,gid,lotcodigo,lotdispers,lotildispe,lotupredia,manzcodigo,geom,lotdistrit,NOMBRE_BARRIO,CODIGO_BARRIO,CODIGO_MANZANA,CODIGO_PREDIO,CODIGO_CONSTRUCCION,CODIGO_RESTO,DIRECCION_REAL,CHIP,OFT_CODIGO,OFT_TIPO_OFERTA,OFT_TIPO_INMUEBLE,OFT_FUENTE,OFT_FECHA_CAPTURA,OIA_TIPO_AJUSTE,OFT_TIPO_NORMA_JURIDICA,OIC_AREA_TERRENO,OIC_AREA_CONSTRUCCION,OFT_ES_OFERTA_MULTIPLE,OFT_PREDIOS_ADICIONALES,OFT_TIPO_CASA_USO_MIXTO,VR_INICIAL_VENTA,VR_FINAL_VENTA,VR_INICIAL_ARRIENDO,VR_FINAL_ARRIENDO,OIC_VALOR_ADM,OIC_VALOR_ANEXOS,OIA_TIENE_ASCENSOR,OIA_CANT_GARAJES,OIA_TIPO_GARAJE,OIA_COND_JUR_GARAJE,X,Y
0,10869.0,009114036002,N,None,770.0,009114036,"MULTIPOLYGON (((1001128.804 1016427.031, 10011...",0.0,GILMAR,009114,036,002,001,09001,CL 160 73 47 TO 1 AP 901,AAA0244KHEP,338319,VENTA,APARTAMENTO,CAMPO;,2018-08-01,AJUSTE EFECTIVO,PH,1.00,154.3,NO,NaN,NaN,830000000.0,8.471006e+08,NaN,NaN,400000.0,0.0,NO,2,CUBIERTO,PRIVADO,1.001029e+06,1.016411e+06
1,10869.0,009114036002,N,None,770.0,009114036,"MULTIPOLYGON (((1001128.804 1016427.031, 10011...",0.0,GILMAR,009114,036,002,001,12001,CL 160 73 47 TO 1 AP 1201,AAA0244KHTD,338320,VENTA,APARTAMENTO,CAMPO;,2018-08-01,AJUSTE EFECTIVO,PH,1.00,154.3,NO,NaN,NaN,890000000.0,9.072147e+08,NaN,NaN,400000.0,0.0,NO,2,CUBIERTO,PRIVADO,1.001029e+06,1.016411e+06
2,10869.0,009114036002,N,None,770.0,009114036,"MULTIPOLYGON (((1001128.804 1016427.031, 10011...",0.0,GILMAR,009114,036,002,002,02003,CL 160 73 47 TO 2 AP 203,AAA0244KPJZ,372586,VENTA,APARTAMENTO,NOTARIADO Y REGISTRO,2018-09-26,NEGOCIO REALIZADO CON INFORMACION,PH,52.05,180.3,NO,NaN,NaN,880375450.0,9.317424e+08,NaN,NaN,NaN,NaN,NaN,1,PARQUEADERO CUBIERTO,NaN,1.001029e+06,1.016411e+06
3,10869.0,009114036002,N,None,770.0,009114036,"MULTIPOLYGON (((1001128.804 1016427.031, 10011...",0.0,GILMAR,009114,036,002,005,12002,CL 160 73 47 TO 5 AP 1202,AAA0226DUSY,373678,VENTA,APARTAMENTO,NOTARIADO Y REGISTRO,2018-11-08,NEGOCIO REALIZADO CON INFORMACION,PH,52.42,181.6,NO,NaN,NaN,700000000.0,7.408426e+08,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,1.001029e+06,1.016411e+06
4,10869.0,009114036002,N,None,770.0,009114036,"MULTIPOLYGON (((1001128.804 1016427.031, 10011...",0.0,GILMAR,009114,036,002,002,01004,CL 160 73 47 TO 2 AP 104,AAA0244KPEP,375188,VENTA,APARTAMENTO,NOTARIADO Y REGISTRO,2018-12-14,NEGOCIO REALIZADO CON INFORMACION,PH,44.09,152.5,NO,NaN,NaN,808879400.0,8.560748e+08,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,1.001029e+06,1.016411e+06

In [11]:
Lote.head()

,gid,lotcodigo,lotdispers,lotildispe,lotupredia,manzcodigo,geom,lotdistrit
0,1,009108093009,N,None,1,009108093,"MULTIPOLYGON (((-74.07234 4.72298, -74.07235 4...",0
1,2,009108093010,N,None,1,009108093,"MULTIPOLYGON (((-74.07228 4.72295, -74.07229 4...",0
2,3,009222023018,N,None,1,009222023,"MULTIPOLYGON (((-74.08605 4.72798, -74.08605 4...",0
3,4,005675053034,N,None,1,005675053,"MULTIPOLYGON (((-74.13056 4.70580, -74.13057 4...",0
4,5,005675053036,N,None,1,005675053,"MULTIPOLYGON (((-74.13046 4.70576, -74.13048 4...",0

In [25]:
Lotes_ofertas.to_file("/home/rcamilo/Documents/DS4A_53/project/transform/Ofertas_completo/ofertasPolygon.geojson", driver='GeoJSON')

In [27]:
Lotes_ofertas.drop(columns=['OFT_FECHA_CAPTURA'],inplace=True)

In [28]:
Lotes_ofertas.to_file("/home/rcamilo/Documents/DS4A_53/project/transform/Ofertas_completo/ofertasPolygon.shp")

In [36]:
Lotes_ofertas.crs

<Projected CRS: EPSG:3116>
Name: MAGNA-SIRGAS / Colombia Bogota zone
Axis Info [cartesian]:
- N[north]: Northing (metre)
- E[east]: Easting (metre)
Area of Use:
- name: Colombia - 75°35'W to 72°35'W
- bounds: (-75.59, -2.51, -72.58, 11.82)
Coordinate Operation:
- name: Colombia MAGNA Bogota zone
- method: Transverse Mercator
Datum: Marco Geocentrico Nacional de Referencia
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [37]:
len(Lotes_ofertas.index)

43426

In [20]:
Lote_3116 = Lote.to_crs("EPSG:3116")

In [24]:
Lotes_ofertas_3116['X'] = Lotes_ofertas_3116.centroid.x
Lotes_ofertas_3116['Y'] = Lotes_ofertas_3116.centroid.y

In [23]:
Lotes_ofertas_3116 = pd.merge(Lote_3116,ofertas,on='lotcodigo',how='right')

In [25]:
Lotes_ofertas_3116.to_file("/home/rcamilo/Documents/DS4A_53/project/transform/geocode/ofertas_lote_3116/ofertas_lote.shp")

In [32]:
Lotes_ofertas_3116.to_file("/home/rcamilo/Documents/DS4A_53/project/transform/geocode/ofertas_lote_3116/ofertasPolygon.geojson", driver='GeoJSON')

In [31]:
Lotes_ofertas_3116.head()

,gid,lotcodigo,lotdispers,lotildispe,lotupredia,manzcodigo,geom,lotdistrit,Nombre_Barrio,Codigo_Barrio,...,Fuente,Chip,Area_Terreno,Area_Construida,Vr_Inicial_Venta,Vr_Final_Venta,Vr_Inicial_Arriendo,Vr_Final_Arriendo,X,Y
0,52608.0,006204017015,N,None,1.0,006204017,"MULTIPOLYGON (((998313.698 1002469.281, 998311...",0.0,ESTACION CENTRAL,006204,...,CAMPO,AAA0251LMRJ,2060.80,2306.00,7.000000e+09,6.880300e+09,0.0,0.0,998325.432468,1.002503e+06
1,826561.0,006501003010,N,None,1.0,006501003,"MULTIPOLYGON (((994123.577 1005234.898, 994117...",0.0,COOPERATIVA DE SUB-OFICIALES,006501,...,CAMPO,AAA0080RXPP,100.10,211.30,0.000000e+00,0.000000e+00,0.0,0.0,994116.848415,1.005239e+06
2,763098.0,006204004004,N,None,67.0,006204004,"MULTIPOLYGON (((998440.059 1002066.050, 998424...",0.0,ESTACION CENTRAL,006204,...,CAMPO,AAA0164RCHY,18.04,50.44,0.000000e+00,0.000000e+00,0.0,0.0,998415.474873,1.002071e+06
3,763098.0,006204004004,N,None,67.0,006204004,"MULTIPOLYGON (((998440.059 1002066.050, 998424...",0.0,ESTACION CENTRAL,006204,...,CAMPO,AAA0164RBWW,18.06,50.50,0.000000e+00,0.000000e+00,1300000.0,1300000.0,998415.474873,1.002071e+06
4,763098.0,006204004004,N,None,67.0,006204004,"MULTIPOLYGON (((998440.059 1002066.050, 998424...",0.0,ESTACION CENTRAL,006204,...,CAMPO,AAA0164RBNX,17.38,48.58,1.800000e+08,1.745100e+08,0.0,0.0,998415.474873,1.002071e+06

In [26]:
Lotes_ofertas_3116_punto = Lotes_ofertas_3116.copy()

In [27]:
Lotes_ofertas_3116_punto['geom'] = Lotes_ofertas_3116_punto.centroid

In [28]:
Lotes_ofertas_3116_punto.to_file("/home/rcamilo/Documents/DS4A_53/project/transform/geocode/ofertas_lote_3116_point/ofertas_point.shp")

In [33]:
Lotes_ofertas_3116_punto.to_file("/home/rcamilo/Documents/DS4A_53/project/transform/geocode/ofertas_lote_3116_point/ofertasPoint.geojson", driver='GeoJSON')

In [30]:
len(ofertas.index),len(Lotes_ofertas_3116.index),len(Lotes_ofertas_3116_punto.index)

(18786, 18786, 18786)

In [35]:
Lotes_ofertas_3116_punto.head()

,gid,lotcodigo,lotdispers,lotildispe,lotupredia,manzcodigo,geom,lotdistrit,Nombre_Barrio,Codigo_Barrio,...,Fuente,Chip,Area_Terreno,Area_Construida,Vr_Inicial_Venta,Vr_Final_Venta,Vr_Inicial_Arriendo,Vr_Final_Arriendo,X,Y
0,52608.0,006204017015,N,None,1.0,006204017,POINT (998325.432 1002503.318),0.0,ESTACION CENTRAL,006204,...,CAMPO,AAA0251LMRJ,2060.80,2306.00,7.000000e+09,6.880300e+09,0.0,0.0,998325.432468,1.002503e+06
1,826561.0,006501003010,N,None,1.0,006501003,POINT (994116.848 1005239.151),0.0,COOPERATIVA DE SUB-OFICIALES,006501,...,CAMPO,AAA0080RXPP,100.10,211.30,0.000000e+00,0.000000e+00,0.0,0.0,994116.848415,1.005239e+06
2,763098.0,006204004004,N,None,67.0,006204004,POINT (998415.475 1002070.740),0.0,ESTACION CENTRAL,006204,...,CAMPO,AAA0164RCHY,18.04,50.44,0.000000e+00,0.000000e+00,0.0,0.0,998415.474873,1.002071e+06
3,763098.0,006204004004,N,None,67.0,006204004,POINT (998415.475 1002070.740),0.0,ESTACION CENTRAL,006204,...,CAMPO,AAA0164RBWW,18.06,50.50,0.000000e+00,0.000000e+00,1300000.0,1300000.0,998415.474873,1.002071e+06
4,763098.0,006204004004,N,None,67.0,006204004,POINT (998415.475 1002070.740),0.0,ESTACION CENTRAL,006204,...,CAMPO,AAA0164RBNX,17.38,48.58,1.800000e+08,1.745100e+08,0.0,0.0,998415.474873,1.002071e+06

In [38]:
lote_oferta_table = Lotes_ofertas_3116_punto.drop(columns=['geom'])
lote_oferta_table.to_csv('ofertas.csv',encoding='utf8',index=False)

In [9]:
ofertas['Chip'].value_counts()

AAA0164ORAF    12
AAA0159CCBS    10
AAA0242TUNX     8
AAA0227PPSY     6
AAA0218CLKL     6
               ..
AAA0059BXYX     1
AAA0080OWFT     1
AAA0084UXZE     1
AAA0083LDNX     1
AAA0044TTOE     1
Name: Chip, Length: 17897, dtype: int64

In [10]:
ofertas[ofertas['Chip']=='AAA0164ORAF']

,Nombre_Barrio,Codigo_Barrio,Codigo_Manzana,Codigo_Predio,Codigo_Construccion,Codigo_Resto,Fecha_De_Cargue,Direccion,Codigo_Oferta,Tipo_Oferta,Tipo_Inmueble,Fuente,Chip,Area_Terreno,Area_Construida,Vr_Inicial_Venta,Vr_Final_Venta,Vr_Inicial_Arriendo,Vr_Final_Arriendo
6537,EL TOBERIN,008501,050,012,001,01001,2019-12-16T00:00:00Z,CL 169 16C 10 BQ 1 AP 101,506602,"VENTA, ARRIENDO",Apartamento,CAMPO,AAA0164ORAF,23.69,57.32,220000000.0,220000000.0,900000.0,900000.0
6560,EL TOBERIN,008501,050,012,001,01001,2019-12-17T00:00:00Z,CL 169 16C 10 BQ 1 AP 101,506625,VENTA,Apartamento,CAMPO,AAA0164ORAF,23.69,57.32,200000000.0,193980000.0,0.0,0.0
6561,EL TOBERIN,008501,050,012,001,01001,2019-12-17T00:00:00Z,CL 169 16C 10 BQ 1 AP 101,506626,VENTA,Apartamento,CAMPO,AAA0164ORAF,23.69,57.32,0.0,0.0,0.0,0.0
6564,EL TOBERIN,008501,050,012,001,01001,2019-12-17T00:00:00Z,CL 169 16C 10 BQ 1 AP 101,506629,ARRIENDO,Apartamento,CAMPO,AAA0164ORAF,23.69,57.32,0.0,0.0,0.0,0.0
6575,EL TOBERIN,008501,050,012,001,01001,2019-12-17T00:00:00Z,CL 169 16C 10 BQ 1 AP 101,506640,VENTA,Apartamento,CAMPO,AAA0164ORAF,23.69,57.32,0.0,0.0,0.0,0.0
6576,EL TOBERIN,008501,050,012,001,01001,2019-12-17T00:00:00Z,CL 169 16C 10 BQ 1 AP 101,506641,VENTA,Apartamento,CAMPO,AAA0164ORAF,23.69,57.32,0.0,0.0,0.0,0.0
6577,EL TOBERIN,008501,050,012,001,01001,2019-12-17T00:00:00Z,CL 169 16C 10 BQ 1 AP 101,506642,ARRIENDO,Apartamento,CAMPO,AAA0164ORAF,23.69,57.32,0.0,0.0,0.0,0.0
6578,EL TOBERIN,008501,050,012,001,01001,2019-12-17T00:00:00Z,CL 169 16C 10 BQ 1 AP 101,506643,VENTA,Apartamento,CAMPO,AAA0164ORAF,23.69,57.32,0.0,0.0,0.0,0.0
6580,EL TOBERIN,008501,050,012,001,01001,2019-12-17T00:00:00Z,CL 169 16C 10 BQ 1 AP 101,506645,VENTA,Apartamento,CAMPO,AAA0164ORAF,23.69,57.32,0.0,0.0,0.0,0.0
6583,EL TOBERIN,008501,050,012,001,01001,2019-12-17T00:00:00Z,CL 169 16C 10 BQ 1 AP 101,506648,VENTA,Apartamento,CAMPO,AAA0164ORAF,23.69,57.32,0.0,0.0,0.0,0.0
6584,EL TOBERIN,008501,050,012,001,01001,2019-12-17T00:00:00Z,CL 169 16C 10 BQ 1 AP 101,506649,VENTA,Apartamento,CAMPO,AAA0164ORAF,23.69,57.32,0.0,0.0,0.0,0.0
6586,EL TOBERIN,008501,050,012,001,01001,2019-12-17T00:00:00Z,CL 169 16C 10 BQ 1 AP 101,506651,VENTA,Apartamento,CAMPO,AAA0164ORAF,23.69,57.32,0.0,0.0,0.0,0.0

In [28]:
ofertas_no_dup = ofertas.drop_duplicates(subset=['Chip' ,'Area_Terreno' ,'Area_Construida' ,'Vr_Inicial_Venta','Vr_Final_Venta','Vr_Inicial_Arriendo' ,'Vr_Final_Arriendo'])

In [29]:
ofertas_no_dup['Chip'].value_counts()[ofertas_no_dup['Chip'].value_counts()>1]

AAA0227PPSY    4
AAA0158MTMR    4
AAA0083CHNN    4
AAA0044DPTO    3
AAA0004ALEP    3
              ..
AAA0140KMZE    2
AAA0160KDMS    2
AAA0115XNZE    2
AAA0071XWJZ    2
AAA0054DJEP    2
Name: Chip, Length: 555, dtype: int64

In [30]:
ofertas_no_dup[ofertas_no_dup['Chip'] == 'AAA0083CHNN']

,Nombre_Barrio,Codigo_Barrio,Codigo_Manzana,Codigo_Predio,Codigo_Construccion,Codigo_Resto,Fecha_De_Cargue,Direccion,Codigo_Oferta,Tipo_Oferta,Tipo_Inmueble,Fuente,Chip,Area_Terreno,Area_Construida,Vr_Inicial_Venta,Vr_Final_Venta,Vr_Inicial_Arriendo,Vr_Final_Arriendo,lotcodigo
13695,SANTA TERESITA,007102,011,004,000,00000,2020-03-07T00:00:00Z,CL 43 15 54,512630,ARRIENDO PARCIAL,Edificio,CAMPO,AAA0083CHNN,194.2,634.15,0.0,0.0,1300000.0,1276000.0,007102011004
13697,SANTA TERESITA,007102,011,004,000,00000,2020-03-07T00:00:00Z,CL 43 15 54,512632,ARRIENDO PARCIAL,Edificio,CAMPO,AAA0083CHNN,194.2,634.15,0.0,0.0,1500000.0,1472000.0,007102011004
13699,SANTA TERESITA,007102,011,004,000,00000,2020-03-07T00:00:00Z,CL 43 15 54,512634,ARRIENDO PARCIAL,Edificio,CAMPO,AAA0083CHNN,194.2,634.15,0.0,0.0,2800000.0,2749000.0,007102011004
13700,SANTA TERESITA,007102,011,004,000,00000,2020-03-07T00:00:00Z,CL 43 15 54,512635,ARRIENDO PARCIAL,Edificio,CAMPO,AAA0083CHNN,194.2,634.15,0.0,0.0,1000000.0,982000.0,007102011004

In [88]:
ofertas_no_dup = ofertas_no_dup[(ofertas_no_dup.Vr_Inicial_Venta + ofertas_no_dup.Vr_Final_Venta + ofertas_no_dup.Vr_Inicial_Arriendo+ ofertas_no_dup.Vr_Final_Arriendo ) != 0]

In [89]:
ofertas_no_dup['Chip'].value_counts()[ofertas_no_dup['Chip'].value_counts()>1]

AAA0083CHNN    4
AAA0158MTMR    4
AAA0150JXDM    3
AAA0244OSOE    3
AAA0048MCXR    3
              ..
AAA0163OYPP    2
AAA0001YFKL    2
AAA0060ATAW    2
AAA0009AAFZ    2
AAA0186AUBS    2
Name: Chip, Length: 414, dtype: int64

In [31]:
ofertas_no_dup[ofertas_no_dup['Chip'] == 'AAA0083CHNN']

,Nombre_Barrio,Codigo_Barrio,Codigo_Manzana,Codigo_Predio,Codigo_Construccion,Codigo_Resto,Fecha_De_Cargue,Direccion,Codigo_Oferta,Tipo_Oferta,Tipo_Inmueble,Fuente,Chip,Area_Terreno,Area_Construida,Vr_Inicial_Venta,Vr_Final_Venta,Vr_Inicial_Arriendo,Vr_Final_Arriendo,lotcodigo
13695,SANTA TERESITA,007102,011,004,000,00000,2020-03-07T00:00:00Z,CL 43 15 54,512630,ARRIENDO PARCIAL,Edificio,CAMPO,AAA0083CHNN,194.2,634.15,0.0,0.0,1300000.0,1276000.0,007102011004
13697,SANTA TERESITA,007102,011,004,000,00000,2020-03-07T00:00:00Z,CL 43 15 54,512632,ARRIENDO PARCIAL,Edificio,CAMPO,AAA0083CHNN,194.2,634.15,0.0,0.0,1500000.0,1472000.0,007102011004
13699,SANTA TERESITA,007102,011,004,000,00000,2020-03-07T00:00:00Z,CL 43 15 54,512634,ARRIENDO PARCIAL,Edificio,CAMPO,AAA0083CHNN,194.2,634.15,0.0,0.0,2800000.0,2749000.0,007102011004
13700,SANTA TERESITA,007102,011,004,000,00000,2020-03-07T00:00:00Z,CL 43 15 54,512635,ARRIENDO PARCIAL,Edificio,CAMPO,AAA0083CHNN,194.2,634.15,0.0,0.0,1000000.0,982000.0,007102011004

In [94]:
ofertas_no_dup['temp'] = ofertas_no_dup.Vr_Inicial_Venta + ofertas_no_dup.Vr_Final_Venta + ofertas_no_dup.Vr_Inicial_Arriendo+ ofertas_no_dup.Vr_Final_Arriendo

/home/rcamilo/anaconda3/envs/geospatial/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [100]:
test_without_duplicates = ofertas_no_dup.sort_values('temp').drop_duplicates(subset=['Chip'], keep='last')

In [103]:
test_without_duplicates[test_without_duplicates['Chip'] == 'AAA0083CHNN']

,gid,lotcodigo,lotdispers,lotildispe,lotupredia,manzcodigo,lotdistrit,Nombre_Barrio,Codigo_Barrio,Codigo_Manzana,Codigo_Predio,Codigo_Construccion,Codigo_Resto,Fecha_De_Cargue,Direccion,Codigo_Oferta,Tipo_Oferta,Tipo_Inmueble,Fuente,Chip,Area_Terreno,Area_Construida,Vr_Inicial_Venta,Vr_Final_Venta,Vr_Inicial_Arriendo,Vr_Final_Arriendo,X,Y,temp
13762,610429.0,007102011004,N,None,1.0,007102011,0.0,SANTA TERESITA,007102,011,004,000,00000,2020-03-07T00:00:00Z,CL 43 15 54,512634,ARRIENDO PARCIAL,Edificio,CAMPO,AAA0083CHNN,194.2,634.15,0.0,0.0,2800000.0,2749000.0,1.000863e+06,1.003890e+06,5549000.0

In [104]:
test_without_duplicates[test_without_duplicates['Chip'] == 'AAA0164ORAF']

,gid,lotcodigo,lotdispers,lotildispe,lotupredia,manzcodigo,lotdistrit,Nombre_Barrio,Codigo_Barrio,Codigo_Manzana,Codigo_Predio,Codigo_Construccion,Codigo_Resto,Fecha_De_Cargue,Direccion,Codigo_Oferta,Tipo_Oferta,Tipo_Inmueble,Fuente,Chip,Area_Terreno,Area_Construida,Vr_Inicial_Venta,Vr_Final_Venta,Vr_Inicial_Arriendo,Vr_Final_Arriendo,X,Y,temp
6582,595956.0,008501050012,N,None,524.0,008501050,0.0,EL TOBERIN,008501,050,012,001,01001,2019-12-16T00:00:00Z,CL 169 16C 10 BQ 1 AP 101,506602,"VENTA, ARRIENDO",Apartamento,CAMPO,AAA0164ORAF,23.69,57.32,220000000.0,220000000.0,900000.0,900000.0,1.004362e+06,1.016775e+06,441800000.0

In [19]:
ofertas.loc[ofertas.OFT_FECHA_CAPTURA.dt.year == 2018,'VR_FINAL_VENTA'] = (ofertas.VR_FINAL_VENTA*(1+0.0197))*(1+0.0379)

In [21]:
ofertas.loc[ofertas.OFT_FECHA_CAPTURA.dt.year == 2019,'VR_FINAL_VENTA'] = ofertas.VR_FINAL_VENTA*(1+0.0197)

In [22]:
ofertas

,NOMBRE_BARRIO,CODIGO_BARRIO,CODIGO_MANZANA,CODIGO_PREDIO,CODIGO_CONSTRUCCION,CODIGO_RESTO,DIRECCION_REAL,CHIP,OFT_CODIGO,OFT_TIPO_OFERTA,OFT_TIPO_INMUEBLE,OFT_FUENTE,OFT_FECHA_CAPTURA,OIA_TIPO_AJUSTE,OFT_TIPO_NORMA_JURIDICA,OIC_AREA_TERRENO,OIC_AREA_CONSTRUCCION,OFT_ES_OFERTA_MULTIPLE,OFT_PREDIOS_ADICIONALES,OFT_TIPO_CASA_USO_MIXTO,VR_INICIAL_VENTA,VR_FINAL_VENTA,VR_INICIAL_ARRIENDO,VR_FINAL_ARRIENDO,OIC_VALOR_ADM,OIC_VALOR_ANEXOS,OIA_TIENE_ASCENSOR,OIA_CANT_GARAJES,OIA_TIPO_GARAJE,OIA_COND_JUR_GARAJE,lotcodigo
0,GILMAR,009114,036,002,001,09001,CL 160 73 47 TO 1 AP 901,AAA0244KHEP,338319,VENTA,APARTAMENTO,CAMPO;,2018-08-01 00:00:00,AJUSTE EFECTIVO,PH,1.0,154.30,NO,NaN,NaN,830000000.0,8.471006e+08,NaN,NaN,400000.0,0.0,NO,2,CUBIERTO,PRIVADO,009114036002
1,GILMAR,009114,036,002,001,12001,CL 160 73 47 TO 1 AP 1201,AAA0244KHTD,338320,VENTA,APARTAMENTO,CAMPO;,2018-08-01 00:00:00,AJUSTE EFECTIVO,PH,1.0,154.30,NO,NaN,NaN,890000000.0,9.072147e+08,NaN,NaN,400000.0,0.0,NO,2,CUBIERTO,PRIVADO,009114036002
2,ESPARTILLAL,008312,005,016,001,06002,CL 77 13 47 OF 602,AAA0221SUSY,338321,VENTA;ARRIENDO,OFICINA,CAMPO;,2018-08-02 00:00:00,AJUSTE EFECTIVO,PH,1.0,77.63,NO,NaN,NaN,548790000.0,5.633579e+08,3159000.0,3100000.0,692000.0,0.0,SI,2,CUBIERTO,PRIVADO,008312005016
3,SANTA ROSA,005402,004,020,000,00000,AK 70 112 17,AAA0058MXPP,338322,ARRIENDO_PARCIAL,CASA USO MIXTO,CAMPO;,2018-08-02 00:00:00,AJUSTE EFECTIVO,NPH,1.0,69.00,NO,NaN,LOCAL;,NaN,NaN,2600000.0,2600000.0,0.0,0.0,NO,0,NaN,NaN,005402004020
4,PUENTE LARGO,009124,001,039,001,03002,CL 113 56 24 AP 302,AAA0125NEWW,338323,VENTA,APARTAMENTO,CAMPO;,2018-08-10 00:00:00,AJUSTE EFECTIVO,PH,1.0,94.50,NO,NaN,NaN,420000000.0,4.323346e+08,NaN,NaN,382000.0,0.0,NO,2,CUBIERTO,PRIVADO,009124001039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119183,SAN JAVIER,001110,016,024,000,00000,CL 9 SUR 4 34,AAA0001APMS,519335,ARRIENDO PARCIAL,Casa,CAMPO,2020-09-01 15:46:23,AJUSTE EFECTIVO,NPH,NaN,45.00,NO,SIN PREDIOS ADICIONALES,NaN,0.0,0.000000e+00,650000.0,638000.0,0.0,0.0,NaN,0,NaN,NaN,001110016024
119184,SAN JAVIER,001110,017,016,000,00000,CL 9 SUR 4 45,AAA0001ARFT,519337,VENTA,Casa,CAMPO,2020-09-01 15:49:28,AJUSTE EFECTIVO,NPH,200.0,141.40,NO,SIN PREDIOS ADICIONALES,NaN,430000000.0,4.190350e+08,0.0,0.0,0.0,0.0,NaN,3,NaN,NaN,001110017016
119185,DINDALITO,004612,058,022,000,00000,KR 92B 42G 51 SUR,AAA0138FRLW,519338,VENTA,Casa,CAMPO,2020-09-01 15:51:02,AJUSTE EFECTIVO,NPH,72.0,144.06,NO,SIN PREDIOS ADICIONALES,NaN,240000000.0,2.329680e+08,0.0,0.0,0.0,0.0,NaN,0,NaN,NaN,004612058022
119186,DINDALITO,004612,058,021,000,00000,KR 92B 42G 45 SUR,AAA0138FRKL,519342,VENTA,Casa,CAMPO,2020-09-01 15:58:02,AJUSTE EFECTIVO,NPH,72.0,70.60,NO,SIN PREDIOS ADICIONALES,NaN,220000000.0,2.134660e+08,0.0,0.0,0.0,0.0,NaN,1,NaN,NaN,004612058021
119187,RAMAJAL,001307,005,026,000,00000,KR 9D ESTE 28C 15 SUR,AAA0002ZYLF,519353,VENTA,Casa,CAMPO,2020-09-01 16:12:00,AJUSTE EFECTIVO,NPH,94.2,183.40,NO,SIN PREDIOS ADICIONALES,NaN,190000000.0,1.842430e+08,0.0,0.0,0.0,0.0,NaN,0,NaN,NaN,001307005026

# infor de predio

In [50]:
predios_l = pd.read_csv('predioslote.csv',dtype={'barmanpre':'str'})
predios_l.head()

,Unnamed: 0,gid,precbarrio,prenbarrio,precmanz,precpredio,preccons,precresto,prechip,precedcata,prenupre,pretprop,prefincorp,preclase,predirecc,premdirecc,pretdirecc,predsi,preaterre,preaconst,preczhf,precdestin,prevetustz,prevforma,prevactual,precuso,preauso,preusoph,preusonph,preuvivien,preucalif,prefcalif,prepuntaje,preearmaz,preemuros,preecubier,preecons,preafachad,preacubier,preapisos,preacons,prebtamano,prebenchap,prebmobili,prebcons,prectamano,precenchap,precmobili,precconse,precindus,preacercha,preclcons,barmanpre
0,0,25,1101,LAS BRISAS,5,22,0,0,AAA0000BBMS,4S 5 41,110010111040100050022000000000,6,1997-12-31,N,KR 6 3 20 SUR,D,NaN,NaN,192.0,142.1,6235225153112,1,1957,1998,2020,1.0,142.1,S,S,S,A,2018-11-22,28,113.0,125.0,132.0,141.0,212.0,223.0,234.0,241.0,312.0,323.0,331.0,341.0,412.0,423.0,432.0,441.0,NaN,NaN,R,001101005022
1,1,95,1102,BUENOS AIRES,8,3,1,1007,AAA0000EEJH,001102080300101007,110010111040200080003901010007,6,1996-12-31,P,KR 2C 2 30 SUR BQ 13 AP 101,D,NaN,NaN,25.4,44.4,6235225152113,1,1993,1997,2020,38.0,44.4,S,N,S,A,2002-12-31,32,113.0,125.0,132.0,142.0,212.0,222.0,235.0,242.0,312.0,322.0,332.0,341.0,412.0,422.0,432.0,441.0,NaN,NaN,R,001102008003
2,2,96,1102,BUENOS AIRES,8,3,1,1008,AAA0000EEKL,001102080300101008,110010111040200080003901010008,6,1996-12-31,P,KR 2C 2 30 SUR BQ 13 AP 102,D,NaN,NaN,25.4,44.4,6235225152113,1,1993,1997,2020,38.0,44.4,S,N,S,A,2002-12-31,32,113.0,125.0,132.0,142.0,212.0,222.0,235.0,242.0,312.0,322.0,332.0,341.0,412.0,422.0,432.0,441.0,NaN,NaN,R,001102008003
3,3,97,1102,BUENOS AIRES,8,3,1,1009,AAA0000EELW,001102080300101009,110010111040200080003901010009,6,1996-12-31,P,KR 2C 2 30 SUR BQ 14 AP 101,D,NaN,NaN,25.4,44.4,6235225152113,1,1993,1997,2020,38.0,44.4,S,N,S,A,2002-12-31,32,113.0,125.0,132.0,142.0,212.0,222.0,235.0,242.0,312.0,322.0,332.0,341.0,412.0,422.0,432.0,441.0,NaN,NaN,R,001102008003
4,4,98,1102,BUENOS AIRES,8,3,1,1010,AAA0000EEMS,001102080300101010,110010111040200080003901010010,6,1996-12-31,P,KR 2C 2 30 SUR BQ 14 AP 102,D,NaN,NaN,25.4,44.4,6235225152113,1,1993,1997,2020,38.0,44.4,S,N,S,A,2002-12-31,32,113.0,125.0,132.0,142.0,212.0,222.0,235.0,242.0,312.0,322.0,332.0,341.0,412.0,422.0,432.0,441.0,NaN,NaN,R,001102008003

In [52]:
len(predios_l.barmanpre.unique())

43375

In [51]:
zhf = predios_l.drop_duplicates(subset=['barmanpre','preczhf'])[['barmanpre','preczhf']]

In [53]:
zhf['preczhf'] = zhf['preczhf'].astype('str')

In [45]:
ofertas

,NOMBRE_BARRIO,CODIGO_BARRIO,CODIGO_MANZANA,CODIGO_PREDIO,CODIGO_CONSTRUCCION,CODIGO_RESTO,DIRECCION_REAL,CHIP,TEL_NUMERO,OIA_NOMBRE_CONTACTO,OFT_CODIGO,OFT_TIPO_OFERTA,OFT_TIPO_INMUEBLE,OFT_FUENTE,OIA_TIPO_AJUSTE,OFT_TIPO_NORMA_JURIDICA,OIC_AREA_TERRENO,OIC_AREA_CONSTRUCCION,OFT_ES_OFERTA_MULTIPLE,OFT_PREDIOS_ADICIONALES,OFT_TIPO_CASA_USO_MIXTO,VR_INICIAL_VENTA,VR_FINAL_VENTA,VR_INICIAL_ARRIENDO,VR_FINAL_ARRIENDO,OIC_VALOR_ADM,OIC_VALOR_ANEXOS,OIA_TIENE_ASCENSOR,OIA_CANT_GARAJES,OIA_TIPO_GARAJE,OIA_COND_JUR_GARAJE,DateTime,year,IPC_INDEX,IPC2020,VIventa2020,VFventa2020,AIventa2020,AFventa2020
0,GILMAR,009114,036,002,001,09001,CL 160 73 47 TO 1 AP 901,AAA0244KHEP,3103488284,JOHANNA,338319,VENTA,APARTAMENTO,CAMPO;,AJUSTE EFECTIVO,PH,1,154.3,NO,NaN,NaN,830000000,800400000,NaN,NaN,400000,0.0,NO,2,CUBIERTO,PRIVADO,1/08/2018,2018,115.8,121.32,869564766.8,838553782.4,NaN,NaN
1,GILMAR,009114,036,002,001,12001,CL 160 73 47 TO 1 AP 1201,AAA0244KHTD,3103488284,JOHANNA,338320,VENTA,APARTAMENTO,CAMPO;,AJUSTE EFECTIVO,PH,1,154.3,NO,NaN,NaN,890000000,857200000,NaN,NaN,400000,0.0,NO,2,CUBIERTO,PRIVADO,1/08/2018,2018,115.8,121.32,932424870.5,898061347.2,NaN,NaN
2,ESPARTILLAL,008312,005,016,001,06002,CL 77 13 47 OF 602,AAA0221SUSY,7437129,TATIANA,338321,VENTA;ARRIENDO,OFICINA,CAMPO;,AJUSTE EFECTIVO,PH,1,77.63,NO,NaN,NaN,548790000,532300000,3159000,3100000,692000,0.0,SI,2,CUBIERTO,PRIVADO,2/08/2018,2018,115.8,121.32,574949937.8,557673886,3309584.456,3247772.021
3,SANTA ROSA,005402,004,020,000,00000,AK 70 112 17,AAA0058MXPP,3103372619,marco antonio,338322,ARRIENDO_PARCIAL,CASA USO MIXTO,CAMPO;,AJUSTE EFECTIVO,NPH,1,69,NO,NaN,LOCAL;,NaN,NaN,2600000,2600000,0,0.0,NO,0,NaN,NaN,2/08/2018,2018,115.8,121.32,NaN,NaN,2723937.824,2723937.824
4,PUENTE LARGO,009124,001,039,001,03002,CL 113 56 24 AP 302,AAA0125NEWW,3208048818,ANA CRISTINA,338323,VENTA,APARTAMENTO,CAMPO;,AJUSTE EFECTIVO,PH,1,94.5,NO,NaN,NaN,420000000,408500000,NaN,NaN,382000,0.0,NO,2,CUBIERTO,PRIVADO,10/08/2018,2018,115.8,121.32,440020725.4,427972538.9,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119183,SAN JAVIER,001110,016,024,000,00000,CL 9 SUR 4 34,AAA0001APMS,3133693775,NO INFORMAN,519335,ARRIENDO PARCIAL,Casa,CAMPO,AJUSTE EFECTIVO,NPH,NaN,45,NO,SIN PREDIOS ADICIONALES,NaN,0,0,650000,638000,0,0.0,NaN,0,NaN,NaN,9/01/2020,2020,121.32,121.32,0,0,650000,638000
119184,SAN JAVIER,001110,017,016,000,00000,CL 9 SUR 4 45,AAA0001ARFT,3145019636,NO INFORMAN,519337,VENTA,Casa,CAMPO,AJUSTE EFECTIVO,NPH,200,141.4,NO,SIN PREDIOS ADICIONALES,NaN,430000000,419035000,0,0,0,0.0,NaN,3,NaN,NaN,9/01/2020,2020,121.32,121.32,430000000,419035000,0,0
119185,DINDALITO,004612,058,022,000,00000,KR 92B 42G 51 SUR,AAA0138FRLW,3108589760,EDILMA ORTIZ,519338,VENTA,Casa,CAMPO,AJUSTE EFECTIVO,NPH,72,144.06,NO,SIN PREDIOS ADICIONALES,NaN,240000000,232968000,0,0,0,0.0,NaN,0,NaN,NaN,9/01/2020,2020,121.32,121.32,240000000,232968000,0,0
119186,DINDALITO,004612,058,021,000,00000,KR 92B 42G 45 SUR,AAA0138FRKL,3202354694,MIGUEL SALCEDO,519342,VENTA,Casa,CAMPO,AJUSTE EFECTIVO,NPH,72,70.6,NO,SIN PREDIOS ADICIONALES,NaN,220000000,213466000,0,0,0,0.0,NaN,1,NaN,NaN,9/01/2020,2020,121.32,121.32,220000000,213466000,0,0
119187,RAMAJAL,001307,005,026,000,00000,KR 9D ESTE 28C 15 SUR,AAA0002ZYLF,3118792516,JAIME HERNANDEZ,519353,VENTA,Casa,CAMPO,AJUSTE EFECTIVO,NPH,94.2,183.4,NO,SIN PREDIOS ADICIONALES,NaN,190000000,184243000,0,0,0,0.0,NaN,0,NaN,NaN,9/01/2020,2020,121.32,121.32,190000000,184243000,0,0

In [55]:
zhf

,barmanpre,preczhf,suelo,actividad,tratamiento_urb,topografia,serpub,serpub_tipo,serpub_especif,via,clase_via,estado_via,influencia_via,actividad_economica,actividad_economica_tipo,tipo_segun_actividad
0,001101005022,6235225153112,6,23,52,2,51,5,1,531,5,3,1,12,1,2
1,001102008003,6235225152113,6,23,52,2,51,5,1,521,5,2,1,13,1,3
17,001102023004,6232125152113,6,23,21,2,51,5,1,521,5,2,1,13,1,3
33,001102031047,6235225152113,6,23,52,2,51,5,1,521,5,2,1,13,1,3
38,001102040001,6235225152113,6,23,52,2,51,5,1,521,5,2,1,13,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1589799,004588031026,6615215141112,6,61,52,1,51,5,1,411,4,1,1,12,1,2
1589905,004589002009,6235215152113,6,23,52,1,51,5,1,521,5,2,1,13,1,3
1590120,004589031072,6235215152113,6,23,52,1,51,5,1,521,5,2,1,13,1,3
1590121,004588036005,6235115141113,6,23,51,1,51,5,1,411,4,1,1,13,1,3
1590122,004588036006,6235115141113,6,23,51,1,51,5,1,411,4,1,1,13,1,3

In [54]:
zhf['suelo'] = zhf['preczhf'].apply(lambda x: x[0])
zhf['actividad'] = zhf['preczhf'].apply(lambda x: x[1:3])
zhf['tratamiento_urb'] = zhf['preczhf'].apply(lambda x: x[3:5])
zhf['topografia'] = zhf['preczhf'].apply(lambda x: x[5])
zhf['serpub'] = zhf['preczhf'].apply(lambda x: x[6:8])
zhf['serpub_tipo'] = zhf['preczhf'].apply(lambda x: x[6])
zhf['serpub_especif'] = zhf['preczhf'].apply(lambda x: x[7])
zhf['via'] = zhf['preczhf'].apply(lambda x: x[8:11])
zhf['clase_via'] = zhf['preczhf'].apply(lambda x: x[8])
zhf['estado_via'] = zhf['preczhf'].apply(lambda x: x[9])
zhf['influencia_via'] = zhf['preczhf'].apply(lambda x: x[10])
zhf['actividad_economica'] = zhf['preczhf'].apply(lambda x: x[11:13])
zhf['actividad_economica_tipo'] = zhf['preczhf'].apply(lambda x: x[11])
zhf['tipo_segun_actividad'] = zhf['preczhf'].apply(lambda x: x[12])

In [57]:
zhf['MANZANA_ID'] = zhf['barmanpre'].apply(lambda x: x[:9])
zhf

,barmanpre,preczhf,suelo,actividad,tratamiento_urb,topografia,serpub,serpub_tipo,serpub_especif,via,clase_via,estado_via,influencia_via,actividad_economica,actividad_economica_tipo,tipo_segun_actividad,MANZANA_ID
0,001101005022,6235225153112,6,23,52,2,51,5,1,531,5,3,1,12,1,2,001101005
1,001102008003,6235225152113,6,23,52,2,51,5,1,521,5,2,1,13,1,3,001102008
17,001102023004,6232125152113,6,23,21,2,51,5,1,521,5,2,1,13,1,3,001102023
33,001102031047,6235225152113,6,23,52,2,51,5,1,521,5,2,1,13,1,3,001102031
38,001102040001,6235225152113,6,23,52,2,51,5,1,521,5,2,1,13,1,3,001102040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1589799,004588031026,6615215141112,6,61,52,1,51,5,1,411,4,1,1,12,1,2,004588031
1589905,004589002009,6235215152113,6,23,52,1,51,5,1,521,5,2,1,13,1,3,004589002
1590120,004589031072,6235215152113,6,23,52,1,51,5,1,521,5,2,1,13,1,3,004589031
1590121,004588036005,6235115141113,6,23,51,1,51,5,1,411,4,1,1,13,1,3,004588036
1590122,004588036006,6235115141113,6,23,51,1,51,5,1,411,4,1,1,13,1,3,004588036

In [65]:
ofertas['MANZANA_ID'] = ofertas['CODIGO_BARRIO']+ofertas['CODIGO_MANZANA']

In [69]:
avcat

  MANZANA_ID CP_TERR_AR  AVALUO_COM  AVALUO_CAT
0  009259086          N    951874.0    733096.0
1  001355027          N    973208.0    666239.0
2  001355010          N   1100000.0    818602.0
3  001355012          N    687104.0    469428.0
4  001355021          N    697258.0    474940.0

In [76]:
predios_0 = pd.merge(zhf,avcat,on='MANZANA_ID',how='left')
predios_0.dropna().to_csv('predio_plus_xhf_av_con_manzana.csv')

In [78]:
predios_0.dropna()

,barmanpre,preczhf,suelo,actividad,tratamiento_urb,topografia,serpub,serpub_tipo,serpub_especif,via,clase_via,estado_via,influencia_via,actividad_economica,actividad_economica_tipo,tipo_segun_actividad,MANZANA_ID,CP_TERR_AR,AVALUO_COM,AVALUO_CAT
0,001101005022,6235225153112,6,23,52,2,51,5,1,531,5,3,1,12,1,2,001101005,N,756860.0,496913.0
1,001102008003,6235225152113,6,23,52,2,51,5,1,521,5,2,1,13,1,3,001102008,N,856363.0,624200.0
2,001102023004,6232125152113,6,23,21,2,51,5,1,521,5,2,1,13,1,3,001102023,P,2551600.0,1571364.0
3,001102031047,6235225152113,6,23,52,2,51,5,1,521,5,2,1,13,1,3,001102031,P,1944808.0,1204520.0
4,001102040001,6235225152113,6,23,52,2,51,5,1,521,5,2,1,13,1,3,001102040,P,2106579.0,1297705.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43370,004588031026,6615215141112,6,61,52,1,51,5,1,411,4,1,1,12,1,2,004588031,N,1429206.0,1143509.0
43371,004589002009,6235215152113,6,23,52,1,51,5,1,521,5,2,1,13,1,3,004589002,N,1450000.0,982850.0
43372,004589031072,6235215152113,6,23,52,1,51,5,1,521,5,2,1,13,1,3,004589031,N,941439.0,636047.0
43373,004588036005,6235115141113,6,23,51,1,51,5,1,411,4,1,1,13,1,3,004588036,N,1450000.0,1007500.0
43374,004588036006,6235115141113,6,23,51,1,51,5,1,411,4,1,1,13,1,3,004588036,N,1450000.0,1007500.0

In [83]:
fventascd = pd.read_csv('vfinal_data.csv',dtype={'LOTCODIGO':'str'})
fventascd

/home/rcamilo/anaconda3/envs/geospatial/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,OFT_CODIGO,LOTCODIGO,NOMBRE_BARRIO,OFT_TIPO_INMUEBLE,OFT_TIPO_NORMA_JURIDICA,OIC_AREA_TERRENO,OIC_AREA_CONSTRUCCION,OIC_VALOR_ADM,OIC_VALOR_ANEXOS,OIA_TIENE_ASCENSOR,OIA_CANT_GARAJES,VFventa2020,CODIGO_CON,CODIGO_RES,X,Y,D_PARK,D_HIGHWAY,D_BIKEWAY,D_SSF,D_MUS,D_LIB,D_SITP,D_TM,D_P_TM,D_GY,D_IES,D_BOM,D_COL,D_IPS,DM_BIKEWAY,DM_BOM,DM_COL,DM_GY,DM_HIGHWAY,DM_IES,DM_IPS,DM_LIB,DM_MUS,DM_PARK,DM_P_TM,DM_SITP,DM_SSF,DM_TM,LOCCODIGO,LOCNOMBRE,Z
0,0,338319,009114036002,GILMAR,APARTAMENTO,PH,1.0,154.30,400000.0,0.0,NO,2,8.385538e+08,1.0,9001.0,1.001029e+06,1.016411e+06,0.000000,31.022020,132.624586,102.587985,2797.923570,1356.907787,251.030171,1631.847033,2591.530972,8781.765578,1878.591434,1306.720762,267.330342,632.441985,589.145548,1856.402509,545.193319,10944.909890,111.565198,2492.107311,733.827241,1558.177475,4239.753003,0.000000,4185.200310,432.420139,192.138505,2866.639842,11.0,SUBA,2564.825714
1,1,338320,009114036002,GILMAR,APARTAMENTO,PH,1.0,154.30,400000.0,0.0,NO,2,8.980613e+08,1.0,9001.0,1.001029e+06,1.016411e+06,0.000000,31.022020,132.624586,102.587985,2797.923570,1356.907787,251.030171,1631.847033,2591.530972,8781.765578,1878.591434,1306.720762,267.330342,632.441985,589.145548,1856.402509,545.193319,10944.909890,111.565198,2492.107311,733.827241,1558.177475,4239.753003,0.000000,4185.200310,432.420139,192.138505,2866.639842,11.0,SUBA,2564.825714
2,2,338321,008312005016,ESPARTILLAL,OFICINA,PH,1.0,77.63,692000.0,0.0,SI,2,5.576739e+08,1.0,6002.0,1.002157e+06,1.007369e+06,176.040380,80.395866,262.720201,2535.917825,425.246626,2842.550861,58.876229,335.001609,7184.778515,1734.626853,105.485195,1691.440905,491.935033,6.279318,310.614444,2088.308464,675.004922,2297.591306,141.837730,184.288849,24.179026,3660.671996,622.041676,200.283583,8112.431909,129.976952,3208.664478,582.411375,2.0,CHAPINERO,2565.440497
3,3,338323,009124001039,PUENTE LARGO,APARTAMENTO,PH,1.0,94.50,382000.0,0.0,NO,2,4.279725e+08,1.0,3002.0,1.001184e+06,1.011152e+06,39.862132,197.631985,217.813959,3511.786174,2548.295866,2879.444435,201.146286,449.852551,5006.047133,3663.701858,1150.395691,2954.407099,324.595001,155.957758,306.796430,3338.924183,441.317970,4764.539245,288.838433,1391.180606,269.738273,3263.703055,3048.418357,79.298390,6021.974309,422.752810,4345.943404,637.196995,11.0,SUBA,2558.471054
4,4,338324,008412054021,SANTA BIBIANA,APARTAMENTO,PH,1.0,128.60,650000.0,0.0,NO,2,1.051021e+09,1.0,5003.0,1.002798e+06,1.010680e+06,109.315253,124.598558,4.642318,3678.832326,1879.858494,4211.971813,142.811580,413.261916,6693.263262,3967.405952,103.326581,4075.981245,279.132676,102.726665,38.278663,4742.141015,560.686525,4552.293612,140.984048,115.379418,163.595361,5387.519156,2594.299510,214.594010,8352.744279,260.115731,4587.553062,2118.277891,1.0,USAQUEN,2552.554726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87595,87721,519334,001110010004,SAN JAVIER,Casa,NPH,202.0,408.20,0.0,0.0,NaN,1,8.354650e+08,0.0,0.0,9.992487e+05,9.981240e+05,61.556672,196.691247,667.387349,402.819567,510.868103,2145.717130,186.986912,697.007311,2082.359357,3826.793054,1605.668701,2133.685567,56.462664,182.441254,789.400716,2633.563914,61.530348,4451.478808,223.886616,2032.625294,296.747691,2650.576466,706.787535,68.157598,2606.164494,256.979314,489.638875,1383.893235,4.0,SAN CRISTOBAL,2603.442834
87596,87722,519337,001110017016,SAN JAVIER,Casa,NPH,200.0,141.40,0.0,0.0,NaN,3,4.190350e+08,0.0,0.0,9.992839e+05,9.980533e+05,115.386766,165.635066,737.546105,342.395711,443.938434,2146.416267,207.802021,761.112292,2056.286387,3880.855977,1610.363378,2156.473259,13.154281,232.306816,861.755704,2642.667580,10.824640,4522.459556,232.990282,1981.542678,305.851357,2721.557214,634.432547,140.512586,2677.145242,266.082980,467.691102,1454.873983,4.0,SAN CRISTOBAL,2604.040298
87597,87723,519338,004612058022,DINDALITO,Casa,NPH,72.0,144.06,0.0,0.0,NaN,0,2.329680e+08,0.0,0.0,9.890125e+05,1.004860e+06,28.233601,480.153439,182.595451,1176.425735,7552.977090,2449.483834,288.712945,1524.551148,1282.975411,8485.382208,3790.049739,2846.375223,119.288128,470.747567,428.632116,3333.673585,122.381160,9624.244516,503.018713,4756.235019,655.554415,3313.994999,9324.658290,50.491186,2744.236090,325.926949,1567.129295,2318.802087,8.0,KENNEDY,2541.783656
87598,87724,519342,004612058021,DINDALITO,Casa,NPH,72.0,70.60,0.0,0.0,NaN,1,2.134660e+08,0.0,0.0,9.890178e+05,1.004863e+06,34.239115,480.632058,185.247487,1182.073825,7547.942590,2443.882680,282.751337,1521.493863,1284.104835,8483.298600,3784.090920,2845.263212,113.291148,466.259541,422.630852,3339.674849,116.379896,9630.245780,509.019977,4750.233755,649.553151,3307.993735,9318.657026,56.492450,2750.237354,319.925685,1573.130559,2324.803351,8.0,KENNEDY,2541.557291
87599,87725,519353,001307005026,RAMAJAL,Casa,NPH,94.2,183.40,0.0,0.0,NaN,0,1.842430e+08,0.0,0.0,9.994073e+05,9.962128e+05,108.639199,326.134672,1732.823866,517.098225,1585.348965,1570.016601,105.002158,2024.225460,1632.020880,4852.761176,1657.963206,1210.706557,94.653823,853.363902,2165.431632,1480.713985,146.334634,5407.311660,422.628686,2296.008798,1036.064962,2078.517867,1828.202488,134.882220,2392.551789,133.327427,828.881224,2375.376180,4.0,SAN CRISTOBAL,2709.827468

In [84]:
ventas_predios = pd.merge(fventascd,predios_0,left_on = 'LOTCODIGO',right_on='barmanpre',how='left')

In [89]:
ventas_predios.dropna(subset=['suelo','CP_TERR_AR']).to_csv('ofertas_v1.csv')

In [90]:
ventas_predios.dropna(subset=['suelo','CP_TERR_AR'])

,Unnamed: 0,OFT_CODIGO,LOTCODIGO,NOMBRE_BARRIO,OFT_TIPO_INMUEBLE,OFT_TIPO_NORMA_JURIDICA,OIC_AREA_TERRENO,OIC_AREA_CONSTRUCCION,OIC_VALOR_ADM,OIC_VALOR_ANEXOS,OIA_TIENE_ASCENSOR,OIA_CANT_GARAJES,VFventa2020,CODIGO_CON,CODIGO_RES,X,Y,D_PARK,D_HIGHWAY,D_BIKEWAY,D_SSF,D_MUS,D_LIB,D_SITP,D_TM,D_P_TM,D_GY,D_IES,D_BOM,D_COL,D_IPS,DM_BIKEWAY,DM_BOM,DM_COL,DM_GY,DM_HIGHWAY,DM_IES,DM_IPS,DM_LIB,DM_MUS,DM_PARK,DM_P_TM,DM_SITP,DM_SSF,DM_TM,LOCCODIGO,LOCNOMBRE,Z,barmanpre,preczhf,suelo,actividad,tratamiento_urb,topografia,serpub,serpub_tipo,serpub_especif,via,clase_via,estado_via,influencia_via,actividad_economica,actividad_economica_tipo,tipo_segun_actividad,MANZANA_ID,CP_TERR_AR,AVALUO_COM,AVALUO_CAT
0,0,338319,009114036002,GILMAR,APARTAMENTO,PH,1.0,154.30,400000.0,0.0,NO,2,8.385538e+08,1.0,9001.0,1.001029e+06,1.016411e+06,0.000000,31.022020,132.624586,102.587985,2797.923570,1356.907787,251.030171,1631.847033,2591.530972,8781.765578,1878.591434,1306.720762,267.330342,632.441985,589.145548,1856.402509,545.193319,10944.909890,111.565198,2492.107311,733.827241,1558.177475,4239.753003,0.000000,4185.200310,432.420139,192.138505,2866.639842,11.0,SUBA,2564.825714,009114036002,6612125153114,6,61,21,2,51,5,1,531,5,3,1,14,1,4,009114036,P,2833333.0,2173704.0
1,1,338320,009114036002,GILMAR,APARTAMENTO,PH,1.0,154.30,400000.0,0.0,NO,2,8.980613e+08,1.0,9001.0,1.001029e+06,1.016411e+06,0.000000,31.022020,132.624586,102.587985,2797.923570,1356.907787,251.030171,1631.847033,2591.530972,8781.765578,1878.591434,1306.720762,267.330342,632.441985,589.145548,1856.402509,545.193319,10944.909890,111.565198,2492.107311,733.827241,1558.177475,4239.753003,0.000000,4185.200310,432.420139,192.138505,2866.639842,11.0,SUBA,2564.825714,009114036002,6612125153114,6,61,21,2,51,5,1,531,5,3,1,14,1,4,009114036,P,2833333.0,2173704.0
2,2,338321,008312005016,ESPARTILLAL,OFICINA,PH,1.0,77.63,692000.0,0.0,SI,2,5.576739e+08,1.0,6002.0,1.002157e+06,1.007369e+06,176.040380,80.395866,262.720201,2535.917825,425.246626,2842.550861,58.876229,335.001609,7184.778515,1734.626853,105.485195,1691.440905,491.935033,6.279318,310.614444,2088.308464,675.004922,2297.591306,141.837730,184.288849,24.179026,3660.671996,622.041676,200.283583,8112.431909,129.976952,3208.664478,582.411375,2.0,CHAPINERO,2565.440497,008312005016,6452315152122,6,45,23,1,51,5,1,521,5,2,1,22,2,2,008312005,N,5800000.0,4930000.0
3,3,338323,009124001039,PUENTE LARGO,APARTAMENTO,PH,1.0,94.50,382000.0,0.0,NO,2,4.279725e+08,1.0,3002.0,1.001184e+06,1.011152e+06,39.862132,197.631985,217.813959,3511.786174,2548.295866,2879.444435,201.146286,449.852551,5006.047133,3663.701858,1150.395691,2954.407099,324.595001,155.957758,306.796430,3338.924183,441.317970,4764.539245,288.838433,1391.180606,269.738273,3263.703055,3048.418357,79.298390,6021.974309,422.752810,4345.943404,637.196995,11.0,SUBA,2558.471054,009124001039,6222115152115,6,22,21,1,51,5,1,521,5,2,1,15,1,5,009124001,P,3910586.0,2952398.0
4,4,338324,008412054021,SANTA BIBIANA,APARTAMENTO,PH,1.0,128.60,650000.0,0.0,NO,2,1.051021e+09,1.0,5003.0,1.002798e+06,1.010680e+06,109.315253,124.598558,4.642318,3678.832326,1879.858494,4211.971813,142.811580,413.261916,6693.263262,3967.405952,103.326581,4075.981245,279.132676,102.726665,38.278663,4742.141015,560.686525,4552.293612,140.984048,115.379418,163.595361,5387.519156,2594.299510,214.594010,8352.744279,260.115731,4587.553062,2118.277891,1.0,USAQUEN,2552.554726,008412054021,6222215153215,6,22,22,1,51,5,1,532,5,3,2,15,1,5,008412054,P,5457414.0,4287253.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87595,87721,519334,001110010004,SAN JAVIER,Casa,NPH,202.0,408.20,0.0,0.0,NaN,1,8.354650e+08,0.0,0.0,9.992487e+05,9.981240e+05,61.556672,196.691247,667.387349,402.819567,510.868103,2145.717130,186.986912,697.007311,2082.359357,3826.793054,1605.668701,2133.685567,56.462664,182.441254,789.400716,2633.563914,61.530348,4451.478808,223.886616,2032.625294,296.747691,2650.576466,706.787535,68.157598,2606.164494,256.979314,489.638875,1383.893235,4.0,SAN CRISTOBAL,2603.442834,001110010004,6232215153113,6,23,22,1,51,5,1,531,5,3,1,13,1,3,001110010,N,842016.0,668382.0
87596,87722,519337,001110017016,SAN JAVIER,Casa,NPH,200.0,141.40,0.0,0.0,NaN,3,4.190350e+08,0.0,0.0,9.992839e+05,9.980533e+05,115.386766,165.635066,737.546105,342.395711,443.938434,2146.416267,207.802021,761.112292,2056.286387,3880.855977,1610.363378,2156.473259,13.154281,232.306816,861.755704,2642.667580,10.824640,4522.459556,232.990282,1981.542678,305.851357,2721.557214,634.432547,140.512586,2677.145242,266.082980,467.691102,1454.873983,4.0,SAN CRISTOBAL,2604.040298,001110017016,6232215153113,6,23,22,1,51,5,1,531,5,3,1,13,1,3,001110017,N,1272302.0,877206.0
87597,87723,519338,004612058022,DINDALITO,Casa,NPH,72.0,144.06,0.0,0.0,NaN,0,2.329680e+08,0.0,0.0,9.890125e+05,1.004860e+06,28.233601,480.153439,182.595451,1176.425735,7552.977090,2449.483834,288.712945,1524.551148,1282.975411,8485.382208,3790.049739,2846.375223,119.288128,470.747567,428.632116,3333.673585,122.381160,9624.244516,503.018713,4756.235019,655.554415,3313.994999,9324.658290,50.491186,2744.236090,325.926949,1567.129295,2318.802087,8.0,KENNEDY,2541.783656,004612058022,6235215142112,6,23,52,1,51,5,1,421,4,2,1,12,1,2,004612058,N,1550000.0,1072314.0
87598,87724,519342,004612058021,DINDALITO,Casa,NPH,72.0,70.60,0.0,0.0,NaN,1,2.134660e+08,0.0,0.0,9.890178e+05,1.004863e+06,34.239115,480.632058,185.247487,1182.073825,7547.942590,2443.882680,282.751337,1521.493863,1284.104835,8483.298600,3784.090920,2845.263212,113.291148,466.259541,422.630852,3339.674849,116.379896,9630.245780,509.019977,4750.233755,649.553151,3307.993735,9318.657026,56.492450,2750.237354,319.925685,1573.130559,2324.803351,8.0,KENNEDY,2541.557291,004612058021,6235215142112,6,23,52,1,51,5,1,421,4,2,1,12,1,2,004612058,N,1550000.0,1072314.0
87599,87725,519353,001307005026,RAMAJAL,Casa,NPH,94.2,183.40,0.0,0.0,NaN,0,1.842430e+08,0.0,0.0,9.994073e+05,9.962128e+05,108.639199,326.134672,1732.823866,517.098225,1585.348965,1570.016601,105.002158,2024.225460,1632.020880,4852.761176,1657.963206,1210.706557,94.653823,853.363902,2165.431632,1480.713985,146.334634,5407.311660,422.628686,2296.008798,1036.064962,2078.517867,1828.202488,134.882220,2392.551789,133.327427,828.881224,2375.376180,4.0,SAN CRISTOBAL,2709.827468,001307005026,6235235152112,6,23,52,3,51,5,1,521,5,2,1,12,1,2,001307005,N,750000.0,487500.0

In [95]:
predios_l.drop_duplicates(subset=['barmanpre'])

,Unnamed: 0,gid,precbarrio,prenbarrio,precmanz,precpredio,preccons,precresto,prechip,precedcata,prenupre,pretprop,prefincorp,preclase,predirecc,premdirecc,pretdirecc,predsi,preaterre,preaconst,preczhf,precdestin,prevetustz,prevforma,prevactual,precuso,preauso,preusoph,preusonph,preuvivien,preucalif,prefcalif,prepuntaje,preearmaz,preemuros,preecubier,preecons,preafachad,preacubier,preapisos,preacons,prebtamano,prebenchap,prebmobili,prebcons,prectamano,precenchap,precmobili,precconse,precindus,preacercha,preclcons,barmanpre
0,0,25,1101,LAS BRISAS,5,22,0,0,AAA0000BBMS,4S 5 41,110010111040100050022000000000,6,1997-12-31,N,KR 6 3 20 SUR,D,NaN,NaN,192.00,142.10,6235225153112,1,1957,1998,2020,1.0,142.10,S,S,S,A,2018-11-22,28,113.0,125.0,132.0,141.0,212.0,223.0,234.0,241.0,312.0,323.0,331.0,341.0,412.0,423.0,432.0,441.0,NaN,NaN,R,001101005022
1,1,95,1102,BUENOS AIRES,8,3,1,1007,AAA0000EEJH,001102080300101007,110010111040200080003901010007,6,1996-12-31,P,KR 2C 2 30 SUR BQ 13 AP 101,D,NaN,NaN,25.40,44.40,6235225152113,1,1993,1997,2020,38.0,44.40,S,N,S,A,2002-12-31,32,113.0,125.0,132.0,142.0,212.0,222.0,235.0,242.0,312.0,322.0,332.0,341.0,412.0,422.0,432.0,441.0,NaN,NaN,R,001102008003
17,17,111,1102,BUENOS AIRES,23,4,5,2001,AAA0163FTNN,001102230400502001,110010111040200230004905020001,6,2002-06-20,P,KR 3 6 75 SUR IN 9 AP 201,D,NaN,NaN,34.04,50.60,6232125152113,1,1998,1997,2020,38.0,50.60,S,N,S,A,2002-06-20,45,115.0,125.0,133.0,143.0,212.0,223.0,235.0,242.0,312.0,322.0,332.0,342.0,412.0,422.0,432.0,442.0,NaN,NaN,R,001102023004
33,33,193,1102,BUENOS AIRES,31,47,4,3004,AAA0154MTYN,001102314700403004,110010111040200310047904030004,6,2000-10-02,P,KR 5A 5B 32 SUR IN 4 AP 304,D,NaN,NaN,29.70,47.34,6235225152113,1,1999,1997,2020,37.0,47.34,S,N,S,B,2008-10-28,41,115.0,125.0,133.0,143.0,212.0,221.0,235.0,242.0,312.0,321.0,332.0,342.0,412.0,421.0,432.0,442.0,0.0,0.0,R,001102031047
38,38,202,1102,BUENOS AIRES,40,1,1,1002,AAA0000FRSK,9S 5E 42 62,110010111040200400001901010002,6,1996-12-31,P,KR 1C ESTE 7A 08 SUR IN 1 AP 102,D,NaN,NaN,42.60,54.90,6235225152113,1,1986,1997,2020,38.0,54.90,S,N,S,A,2002-12-31,40,115.0,125.0,133.0,141.0,212.0,222.0,235.0,241.0,312.0,324.0,332.0,341.0,412.0,424.0,432.0,441.0,NaN,NaN,R,001102040001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1589799,1589799,3501567,4588,EL DANUBIO AZUL,31,26,0,0,AAA0209BALW,004588312600000000,110010145078800310026000000000,6,2009-11-10,N,DG 56 BIS SUR 84C 47,D,NaN,NaN,28.55,86.80,6615215141112,1,2011,1999,2020,1.0,86.80,S,S,S,A,2011-12-29,44,114.0,125.0,133.0,142.0,212.0,223.0,235.0,242.0,312.0,324.0,332.0,341.0,412.0,424.0,432.0,442.0,0.0,0.0,R,004588031026
1589905,1589905,3501697,4589,SAN PEDRO,2,9,0,0,AAA0173BXFZ,004589011200000000,110010145078900020009000000000,6,2003-07-29,N,KR 86D BIS 63 15 SUR,D,NaN,NaN,40.00,127.16,6235215152113,1,2001,1999,2020,1.0,83.72,S,S,S,A,2014-11-13,46,113.0,125.0,133.0,142.0,212.0,223.0,235.0,242.0,312.0,324.0,332.0,342.0,412.0,424.0,432.0,442.0,0.0,0.0,R,004589002009
1590120,1590120,3502282,4589,SAN PEDRO,31,72,0,0,AAA0271EKMS,004589317200000000,110010145078900310072000000000,6,2019-11-12,N,KR 86C 68A 15 SUR,D,NaN,NaN,275.50,0.00,6235215152113,61,0,1999,2020,NaN,0.00,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,004589031072
1590121,1590121,3502306,4588,EL DANUBIO AZUL,36,5,0,0,AAA0054BPRJ,004588360500000000,110010145078800360005000000000,6,1998-11-30,N,CL 55B SUR 86B 28,D,NaN,NaN,72.00,223.20,6235115141113,1,2008,1999,2020,1.0,223.20,S,S,S,A,2018-11-22,40,114.0,125.0,133.0,142.0,212.0,223.0,235.0,241.0,312.0,324.0,332.0,341.0,412.0,424.0,432.0,441.0,NaN,NaN,R,004588036005
1590122,1590122,3502307,4588,EL DANUBIO AZUL,36,6,0,0,AAA0054BPSY,004588360600000000,110010145078800360006000000000,6,1998-11-30,N,KR 86C 55A 18 SUR,D,I,CL 55B SUR 86B 34,78.00,257.50,6235115141113,1,2000,1999,2020,1.0,202.10,S,S,S,A,2012-12-21,28,114.0,125.0,133.0,142.0,212.0,221.0,232.0,241.0,312.0,322.0,332.0,341.0,412.0,422.0,432.0,441.0,0.0,0.0,R,004588036006

In [92]:
predios_l

,Unnamed: 0,gid,precbarrio,prenbarrio,precmanz,precpredio,preccons,precresto,prechip,precedcata,prenupre,pretprop,prefincorp,preclase,predirecc,premdirecc,pretdirecc,predsi,preaterre,preaconst,preczhf,precdestin,prevetustz,prevforma,prevactual,precuso,preauso,preusoph,preusonph,preuvivien,preucalif,prefcalif,prepuntaje,preearmaz,preemuros,preecubier,preecons,preafachad,preacubier,preapisos,preacons,prebtamano,prebenchap,prebmobili,prebcons,prectamano,precenchap,precmobili,precconse,precindus,preacercha,preclcons,barmanpre
0,0,25,1101,LAS BRISAS,5,22,0,0,AAA0000BBMS,4S 5 41,110010111040100050022000000000,6,1997-12-31,N,KR 6 3 20 SUR,D,NaN,NaN,192.0,142.1,6235225153112,1,1957,1998,2020,1.0,142.1,S,S,S,A,2018-11-22,28,113.0,125.0,132.0,141.0,212.0,223.0,234.0,241.0,312.0,323.0,331.0,341.0,412.0,423.0,432.0,441.0,NaN,NaN,R,001101005022
1,1,95,1102,BUENOS AIRES,8,3,1,1007,AAA0000EEJH,001102080300101007,110010111040200080003901010007,6,1996-12-31,P,KR 2C 2 30 SUR BQ 13 AP 101,D,NaN,NaN,25.4,44.4,6235225152113,1,1993,1997,2020,38.0,44.4,S,N,S,A,2002-12-31,32,113.0,125.0,132.0,142.0,212.0,222.0,235.0,242.0,312.0,322.0,332.0,341.0,412.0,422.0,432.0,441.0,NaN,NaN,R,001102008003
2,2,96,1102,BUENOS AIRES,8,3,1,1008,AAA0000EEKL,001102080300101008,110010111040200080003901010008,6,1996-12-31,P,KR 2C 2 30 SUR BQ 13 AP 102,D,NaN,NaN,25.4,44.4,6235225152113,1,1993,1997,2020,38.0,44.4,S,N,S,A,2002-12-31,32,113.0,125.0,132.0,142.0,212.0,222.0,235.0,242.0,312.0,322.0,332.0,341.0,412.0,422.0,432.0,441.0,NaN,NaN,R,001102008003
3,3,97,1102,BUENOS AIRES,8,3,1,1009,AAA0000EELW,001102080300101009,110010111040200080003901010009,6,1996-12-31,P,KR 2C 2 30 SUR BQ 14 AP 101,D,NaN,NaN,25.4,44.4,6235225152113,1,1993,1997,2020,38.0,44.4,S,N,S,A,2002-12-31,32,113.0,125.0,132.0,142.0,212.0,222.0,235.0,242.0,312.0,322.0,332.0,341.0,412.0,422.0,432.0,441.0,NaN,NaN,R,001102008003
4,4,98,1102,BUENOS AIRES,8,3,1,1010,AAA0000EEMS,001102080300101010,110010111040200080003901010010,6,1996-12-31,P,KR 2C 2 30 SUR BQ 14 AP 102,D,NaN,NaN,25.4,44.4,6235225152113,1,1993,1997,2020,38.0,44.4,S,N,S,A,2002-12-31,32,113.0,125.0,132.0,142.0,212.0,222.0,235.0,242.0,312.0,322.0,332.0,341.0,412.0,422.0,432.0,441.0,NaN,NaN,R,001102008003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1590123,1590123,3502308,4588,EL DANUBIO AZUL,36,6,0,0,AAA0054BPSY,004588360600000000,110010145078800360006000000000,6,1998-11-30,N,KR 86C 55A 18 SUR,D,I,CL 55B SUR 86B 36,78.0,257.5,6235115141113,1,2000,1999,2020,1.0,202.1,S,S,S,A,2012-12-21,28,114.0,125.0,133.0,142.0,212.0,221.0,232.0,241.0,312.0,322.0,332.0,341.0,412.0,422.0,432.0,441.0,0.0,0.0,R,004588036006
1590124,1590124,3502309,4588,EL DANUBIO AZUL,36,6,0,0,AAA0054BPSY,004588360600000000,110010145078800360006000000000,6,1998-11-30,N,KR 86C 55A 18 SUR,D,I,CL 55B SUR 86B 38,78.0,257.5,6235115141113,1,2000,1999,2020,1.0,202.1,S,S,S,A,2012-12-21,28,114.0,125.0,133.0,142.0,212.0,221.0,232.0,241.0,312.0,322.0,332.0,341.0,412.0,422.0,432.0,441.0,0.0,0.0,R,004588036006
1590125,1590125,3502310,4588,EL DANUBIO AZUL,36,6,0,0,AAA0054BPSY,004588360600000000,110010145078800360006000000000,6,1998-11-30,N,KR 86C 55A 18 SUR,D,I,CL 55B SUR 86B 34,78.0,257.5,6235115141113,1,2012,1999,2020,1.0,55.4,S,S,S,B,2012-12-21,19,113.0,125.0,132.0,142.0,212.0,222.0,232.0,242.0,311.0,NaN,NaN,NaN,411.0,NaN,NaN,NaN,0.0,0.0,R,004588036006
1590126,1590126,3502311,4588,EL DANUBIO AZUL,36,6,0,0,AAA0054BPSY,004588360600000000,110010145078800360006000000000,6,1998-11-30,N,KR 86C 55A 18 SUR,D,I,CL 55B SUR 86B 36,78.0,257.5,6235115141113,1,2012,1999,2020,1.0,55.4,S,S,S,B,2012-12-21,19,113.0,125.0,132.0,142.0,212.0,222.0,232.0,242.0,311.0,NaN,NaN,NaN,411.0,NaN,NaN,NaN,0.0,0.0,R,004588036006
1590127,1590127,3502312,4588,EL DANUBIO AZUL,36,6,0,0,AAA0054BPSY,004588360600000000,110010145078800360006000000000,6,1998-11-30,N,KR 86C 55A 18 SUR,D,I,CL 55B SUR 86B 38,78.0,257.5,6235115141113,1,2012,1999,2020,1.0,55.4,S,S,S,B,2012-12-21,19,113.0,125.0,132.0,142.0,212.0,222.0,232.0,242.0,311.0,NaN,NaN,NaN,411.0,NaN,NaN,NaN,0.0,0.0,R,004588036006